.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
	content: "";
	width: 15px;
	height: 10px;
	background: url(/pictures/ico-str00.png) center center no-repeat;
	display: block;
    position: absolute;
    right: 20%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; }
.drawer-list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  transform: translate(-100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 95px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-right-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8);
}
@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 1em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-size: calc(24px - .5vw);
  display: block;
  font-weight: 500;
}
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: .5rem;
  }
}
@media (max-width: 500px) {
  .drawer-list {
    width: 70vw;
  }
  .drawer-list li a {
	font-size: calc(20px - .5vw);
  }
  .dropdown input + ul li a {
    font-size: calc(17px - .5vw);
  }
}
.drawer-list li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
}

input.hamburger {
  display: none;
}
input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(315deg);
  top: 0px;
}
input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 0px;
}
input.hamburger:checked ~ label close {
  color: #FEFEFE;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: transparent;
  width: 0;
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 40px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
  color: transparent;
  width: 0;
  left: 0;
}
label.hamburger text open {
  color: #FEFEFE;
  width: 100%;
  left: 0;
}
label.hamburger > i {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
  top: 4px;
}
label.hamburger > i:before {
  transform: translate(-50%, -14px);
}
label.hamburger > i:after {
  transform: translate(-50%, 14px);
  top: -4px;
}
label.hamburger {
  position: fixed;
  top: 30px;
  left: 15px;
  background: #4996ca;
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  transition: .3s all .3s;
}

#name, #phone, #text{
	font-size: 1.5rem;
}

.right-menu{
  display: none;
}

.block-for-shadow{
	position: relative;
}

.abs{
	z-index: 0;
}

.header-mob{
	display: flex;
	justify-content: space-between;
}

#

@media (max-width: 992px){
	.header-mob{
		justify-content: center;
		width: 140%;
	}
	.logo{
		margin-left: 12rem !important;
	}
	.right-menu{
		margin-top: 3rem !important;
		margin-left: 29rem;
	}
	.header-opacity{
		height: auto !important;
	}
	.mob-view{
		display: block !important;
	}
	.navigation{
		display: none !important;
	}
}
@media (max-width: 960px){
	.right-menu{
		margin-left: 24rem !important;
	}
}
@media (max-width: 920px){
	.right-menu{
		margin-left: 20rem !important;
	}
}

@media (max-width: 870px){
	.right-menu{
		margin-left: 18rem !important;
	}
	.logo{
		margin-left: 6rem !important;
	}
}

@media (max-width: 822px){
	.right-menu{
		margin-left: 20rem !important;
	}
	.logo{
		margin-left: 2rem !important;
	}
}

@media (max-width: 794px){
	.right-menu{
		margin-left: 10rem !important;
	}
}
.shadow{
	margin-top: 5rem;
	margin-left: 2rem;
	z-index: 1;
	position: absolute;
	opacity: 0.2;
	width: 315px;
	height: 490px;
	background-color: #bcdcf4;
}
.shadow-2{
	margin-top: 5rem;
	margin-left: 2rem;
	z-index: 1;
	position: absolute;
	opacity: 0.2;
	width: 440px;
	height: 440px;
	background-color: #bcdcf4;
}
.btn-hollow{
	border: 1px solid #326a90 !important;
	font-weight: 400 !important;
	background-color: transparent !important;
	color: #fff !important;
	font-family: Roboto,sans-serif !important;
}
.btn-hollow:hover{
  color: #ffa500 !important;
}

.btn-holloww{
	border: 1px solid #ffffff !important;
	font-weight: 400 !important;
	background-color: transparent !important;
	color: #fff !important;
	font-family: Roboto,sans-serif !important;
}
.btn-holloww:hover{
  color: #ffa500 !important;
}

.containerOne{
  margin-top: 3rem;
}

.footer-icons{
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
}

@media (max-width: 1280px){
	.shadow, .shadow-2{
		display: none;
	}
}

@media (max-width: 1199px){
  .contacts{
    display: none;
  }
  .btn-hollow{
    display: none;
  }
  .right-menu{
    display: block;
    margin-top: 2rem;
    float: right !important;
  }
}

@media (max-width: 480px){
  .logo{
    margin-top: 2rem !important;
    margin-left: 8rem !important;
  }
  .logo-ico{
    width: 150px;
    height: 40px;
  }
	.right-menu{
		margin-top: 4rem !important;
		margin-left: 6rem !important;
	}
	.header-opacity{
		height: 50px !important;
	}
}

@media (max-width: 458px){
	.right-menu{
		margin-left: 2rem !important;
	}
}

@media (max-width: 404px){
	.logo{
		margin-left: 5rem !important;
	}
	.right-menu{
		margin-left: 0rem !important;
	}
}

@media (max-width: 374px){
	.right-menu{
		margin-left: -2rem !important;
	}
}

/* РҐРђРљ VIEW */

.comp-view { display: block; }
.mob-view{
	display: none;
}

.header-opacity{
	width: 100%;
	margin-left: -1.5rem;
	background-color: rgba(0, 0, 0, .68);
	position: fixed;
	z-index: 3;
	height: 84px;
}

.navigation ul > .active{
	background-color: #4996ca;
}

content.mob-view {
	z-index:999;
    position: fixed;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 767px) {

.mob-view { display: block;}
.navigation {display: none;}
.header-mob{
  width: 150% !important;
	justify-content: space-between;
	}
	.containerOne{
		margin-top: 3rem !important;
	}
	.right-menu{
		margin-top: 3rem;
	}
	.logo{
		margin-top: 1rem;
	}
	.header-opacity{
		height: 90px !important;
	}
	.comp-view{
		margin-top: -1rem;
	}
	.header-mob{
		justify-content: center;
		width: auto;
	}
}

@media (max-width: 742px){
	.header-mob{
	  width: 140% !important;
	}
	.logo{
		margin-left: 4.6rem;
	}
	.header-opacity{
		height: 84px !important;
	}
}

@media (max-width: 658px){
	.header-mob{
	  width: 130% !important;
	}
}

@media (max-width: 586px){
	.header-mob{
	  width: 120% !important;
	}
}

ul li.hover.active_raz {
/*    background-color: #4996ca;*/
}
