.intro {
    background: black;
    min-height: 360px;
    display: flex;
}

.intro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-image {
    width: 250px;
}

.intro-text {
    font-size: 0.75rem;
    border-left: 1px solid #4D9CD0;
    padding-left: 0.5em;
    margin: 1em 0;
}

.intro-text p:first-of-type {
    margin-top: 0;
}

.intro-text p:last-of-type {
    margin-bottom: 0;
}

.company-stats {
    background-color: #4996CA;
    padding: 3em 0;
}

.stats-container {
    max-width: 650px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
}

.stat {
    width: 50%;
    position: relative;
    font-weight: bold;
}

.stat:nth-of-type(1), .stat:nth-of-type(2) {
    margin-bottom: 2em;
}

.stat:nth-of-type(1) {
    text-transform: uppercase;
}

.stat:nth-of-type(3) {
    text-transform: uppercase;
}

.stat-number {
    /* font-size: 144px; */
    font-size: 3rem;
    display: inline;
    color: #fefefe;
    font-weight: 800;
    position: relative;
}

.stat-text {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.3;
    text-transform: uppercase;
}

.stat:nth-of-type(3) .stat-text {
    max-width: 230px;
    margin: 0 auto;
}

.stat-circular {
    margin-top: 0.8em;
}

.stat-number::after {
    content: "";
    display: block;
    position: absolute;
}

.stat-circular .stat-number::after {
    background: rgba(254, 254, 254, 0.1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    right: -1.2em;
    top: -0.2em;
}

.stat-plus .stat-number::after {
    content: "+";
    background: rgba(73, 150, 202, 0.5);
    border: 1px solid white;
    border-radius: 50%;
    padding: 0 0.32em;
    font-size: 1rem;
    top: 0.2em;
    right: -0.5em;
}

.stat-circular .stat-number {
    /* font-size: 96px; */
    font-size: 2.3rem;
    color: #8DD1FE;
}

.stat-text {
    margin: 0;
    font-size: 0.9rem;
}

.stat-text span {
    color: #8DD1FE;
}

.about-us {
    background-color: black;
    background: url(../images/background-2426328_1920\ 1.jpg) center top;
    background-size: contain;
    padding: 1em 0;
    padding-bottom: 2em;
    position: relative;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    color: #4996CA;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.our-company {
    margin-bottom: 6em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team {
    box-shadow: -1px 2px 20px 20px gainsboro;
}

.founder {
    margin-bottom: 1em;
}

.founder .frame {
    background: #4996CA;
    border-radius: 2px;
    padding: 5.5em 1em 2.5em 1em;
    overflow: visible;
    position: relative;
    max-width: 467px;
    margin: 0 auto;
}

.founder-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -4.4em;
    left: calc(50% - 75px);
}

.founder-text {
    margin-top: 0;
}

.founder-name {
    text-align: right;
}

.about-us .media {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: black;
    font-size: 1rem;
    text-align: center;
    background: #F9F9F9;
    box-shadow: 0px 4px 6px rgba(135, 128, 128, 0.25);
    border-radius: 2px;
    right: calc(50% - 132px);
    width: 265px;
    bottom: -30%;
}

.about-us .media img {
    vertical-align: middle;
}

.about-us .media p:first-of-type {
    margin: 0 0 0.3em 0;
}
.about-us .media p:last-of-type {
    margin: 0;
}

.our-attributes {
    background: #4996CA;
    padding: 1em;
    padding-top: 4em;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-top: 0;
}

#attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.attribute {
    margin-bottom: 3em;
    width: 320px;
    margin: 1em 2em;
}

.attribute-text {
    margin-top: 0.5em;
}

.benefits {
    padding: 2em 1em;
    background: #E5E5E5;
    text-align: center;
    color: black;
}

.benefits .container {
    max-width: 658px;
    padding: 0 1em;
    position: relative;
}

.benefit-title {
    font-weight: 700;
}

.benefit-text {
    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
}

.benefits button {
    position: absolute;
    z-index: 2;
    border: 1px solid silver;
    background-color: transparent;
    padding: 0;
    width: 37px;
    height: 37px;
    background-size: contain;
}

.benefits .previous {
    /* background-image: url(../images/icons/arrow-left.png); */
    left: 20%;
	 top: 94%;
	 outline: none;
}

.benefits .next {
    /* background-image: url(../images/icons/arrow-right.png); */
    right: 20%;
	 top: 94%;
	 outline: none;
}

.dots {
    display: flex;
    width: 90px;
    margin: 0 auto;
    justify-content: space-between;
}

.benefits .dot {
    width: 12px;
    height: 12px;
    background-color: rgba(73, 150, 202, 0.5);
    border-radius: 50%;
}

.benefits .dot.active {
    background-color: #4996CA;
}

@media screen and (min-width: 700px) {
    .intro .container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 700px;
    }
    .intro-image {
        width: 320px;
        margin-right: 1em;
    }

    .benefits .previous {
        left: 0;
        top: 50%;
    }
    
    .benefits .next {
        right: 0;
        top: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .intro .container {
        max-width: 800px;
    }
    .intro-image {
        width: 370px
    }
    .intro-text {
        font-size: 0.85rem;
        max-width: 365px;
    }
    .stat {
        display: flex;
        width: 43%;
    }
    .stat-number {
        font-size: 5rem;
    }
    .stat-circular {
        margin-top: 1.3em;
    }
    .stat-circular .stat-number {
        font-size: 3rem;
    }
    .stat-plus .stat-number::after {
        font-size: 1.5rem;
    }
    .stat-text {
        text-align: left;
        font-size: 1.3rem;
    }
    .stat:nth-of-type(1), .stat:nth-of-type(2) {
        margin-bottom: 4em;
    }
    .stat:nth-of-type(1) .stat-text {
        margin-left: 0.7em;
        margin-top: 1em;
    }
    .stat:nth-of-type(2) .stat-text {
        margin-left: 0.7em;
        margin-top: 2.4em;
    }
    .stat:nth-of-type(3) {
        width: 40%;
        margin-left: 1.5em;
    }
    .stat:nth-of-type(3) .stat-text {
        font-size: 1rem;
        margin-left: 0.7em;
        margin-top: 1.4em;
    }
    .stat:nth-of-type(4) {
        margin-left: 3em;
    }
    .stat:nth-of-type(4) .stat-text {
        margin-left: 0.7em;
        margin-top: 2.5em;
    }
    .stat-text span {
        font-size: 1.3rem;
    }
    .our-company {
        flex-direction: row;
        /* align-items: flex-start; */
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }
    .page-title {
        font-size: 3rem;
        margin-bottom: 0;
    }
    .our-team {
        width: 45%;
        margin-right: 1.5em;
    }
    .our-company-info {
        margin-top: 3em;
        font-size: 15px;
    }
    .founder .frame {
        padding: 2em 1.5em 4em 7em;
        position: relative;
    }
    .founder-image {
        top: -1em;
        left: -5.2em;
        width: 170px;
        height: 170px;
    }

    .about-us .media {
        font-size: 1.5rem;
        /* right: -8%; */
        bottom: -40%;
        /* width: 310px; */
        height: 120px;
    }
    
    .our-attributes {
        padding-top: 4em;
    }
}

@media screen and (min-width: 1400px) {
    .intro .container {
        max-width: 900px;
    }
    .intro-image {
        width: 420px
    }
    .intro-text {
        font-size: 1rem;
        max-width: 400px;
    }
}

@media(max-width: 414px) {
	.founder {
		margin-bottom: 8em;
	}
}