.intro {
    position: relative;
    min-height: 360px;
    background-color: black;
    overflow: hidden;
}

.intro .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-heart {
    width: 300px;
}

.intro-shining {
    display: none;
    width: 100%;
}

.intro-text {
    max-width: 300px;
}

.page-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #4D9CD0;
}

.page-subtitle {
    font-size: 0.75rem;
    border-left: 1px solid #4D9CD0;
    padding-left: 0.5em;
    max-width: 250px;
}

/* Reviews */

.reviews {
    background: #4D9CD0;
    padding: 1em;
}

.reviews ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.reviews-title {
    font-size: 0.75rem;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.review:last-of-type {
    margin-bottom: 0;
}

.review-image {
    margin-bottom: 0.3em;
}

.review-customer {
    display: flex;
    align-items: center;
}

.customer-logo {
    width: 50px;
    height: 25px;
    margin-right: 0.5em;
}

.customer-link {
    text-transform: uppercase;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    border: none;
    outline: none;
    background-color: transparent;
}

.pagination button:last-of-type {
    margin-left: 1em;
}

@media screen and (min-width: 700px) {
    .intro .container {
        flex-direction: row;
        justify-content: center;
        align-items: initial;
        padding-top: 30px;
    }
    .intro-heart {
        margin-right: 20px;
        width: 380px;
        align-self: flex-start;
    }

    .intro-shining {
        display: block;
        position: absolute;
        width: 38%;
    }

    .intro-text {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .intro {
        min-height: 400px;
    }

    .intro-text {
        max-width: initial;
    }

    .page-title {
        font-size: 1.5rem;
    }

    .page-subtitle {
        font-size: 1rem;
        max-width: 410px;
    }
}


@media screen and (min-width: 1410px) {
    .intro {
        min-height: 500px;
    }

    .intro-heart {
        width: 550px;
    }

    .intro-text {
        margin-top: 60px;
    }
}
body.mobile {
    background: #000;
}
