*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "OpenSansBold", sans-serif!important;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

.h1_descr{
	text-align: center;
	padding: 25px 0px;
	font-size: 25px;
	font-family: "LatoBlack", serif;
    color: #000000;
    text-transform: uppercase;
}
.about_section{
	background-color: #fff;
}

.about_head_descr{
	text-align: center;
	line-height: 15px;
}

.about_head_descr_h3{
	font-size: 20px;
	font-family: "LatoBlack", serif;
	color: #000000;
	text-transform: uppercase;
}

.about_head_descr_h2{
	font-size: 25px;
	font-family: "LatoBlack", serif;
	color: #4996ca;
	text-transform: uppercase;
}

.abouts_descr_p{
	font-size: 16px;
	margin: 0;
}


.line{
	border: 1px solid #696f70;
	width: 35px;
	margin: auto;
}

.about-head_icon_descr{
	text-align: center;
	color: #353e47;
	font-size: 15px;
	padding-bottom: 30px;
}

.about_icon_descr{
	padding-top: 40px;
	padding-bottom: 90px;
}

.about_includes{
	background-color: #5b9ece;
	text-align: center;
	padding-top: 80px;
}

.about_include_h2>h2{
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
}

.width_pos_about{
	width: 40px;
}

.width_pos_about_2{
	width: 180px;
}

.about_includes_1, .about_includes_2{
	color: #fff;
	padding-top: 40px;
}

.about_includes_2{
	padding-bottom: 80px;
}

.tarif_plan{
	background-image: url('../img/pockets.png');
	min-height: 920px;
	background-repeat: no-repeat;
	background-position: 0% 20%;
	background-size: 10% 30%;
}

.tarif_plan_h2_descr>h2{
	color: #4996ca;
	font-size: 25px;
	font-family: "LatoBlack", sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding-top: 75px;
}

.tarif_plan_blocks{
	padding-top: 35px;
}

.fast_start, .basic, .pro{
	min-height: 630px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.plans_descr{
	text-align: center;
}

.circle{
	opacity: 1;
	width: 140px;
	height: 135px;
	background: #f9f9f9;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 65px;
	position: absolute;
	margin: 10px 105px;
}

.plans_descr_h3{
	text-transform: uppercase;
	color: #4996ca;
	padding-top: 5px;
	padding-bottom: 5px;
}

.plans_descr>h2{
	position: relative;
	color: #4996ca;
	display: inline-block;
	font-size: 30px;
	margin: 0;
	padding-top: 30px;
}

.black_descr{
	color: #000;
}

.text_zapusk{
	font-size: 14px;
	color: #39424b;
	position: relative;
	margin: 0;
}

.plans_list{
	padding-top: 75px;
}

.plans_list>ul{
	text-align: left;
	list-style-type: none;
}

.plans_list>ul>li{
	color: #39424b;
	font-size: 15px;
	padding: 0px 15px 15px 0px;
}

.plans_list>ul>li>img{
	padding-right: 10px;
}

.link_plans>a{
	color: #0984c4;
	font-size: 16px;
}

.btn_plans{
	padding-top: 20px;
	padding-bottom: 1rem;
}

.btn_plans>a{
	border: 1px solid #0984c4 !important;
	text-decoration: none !important;
	padding: 5px 25px !important;
	text-transform: uppercase !important;
	font-size: 17px !important;
	color: #000;
}

.text_zapusk_bottom{
	opacity: 0;
	display: none;
	color: #39424b;
	background-color: #f9f9f9;
	font-size: 15px;
}

.start_plan_btn_links, .basic_plan_btn_links, .pro_plan_btn_links{
	text-align: center;
	padding-bottom: 1rem;
}

.start_plan_btn_links{
	/* padding-top: 10px; */
}

.pro_plan_btn_links{
	padding-top: 72px;
}

.pplans_desrcro:hover{
	height: 800px;
}

.plans_desrc:hover .plans_descr_h3{
	background-color: #488dbc;
	color: #fff;
	transition: all 0.8s ease;
}

.plans_desrc:hover .black_descr{
	color: #fff;
	transition: all 0.5s ease;
}

.plans_desrc:hover .text_zapusk_bottom{
	display: block;
	opacity: 1;
	transition: all .3s linear;
}

.plans_desrc:hover .pro_plan_btn_links{
	padding: 0;
}

.plans_desrc:hover .plans_list{
	padding: 0;
}

.plans_desrc:hover .circle{
	transition: all .3s linear;
	opacity: 0;
	display: none;
}


/* .plans_descr:hover{
	height: auto;
} */

.plans_descr:hover .plans_descr_h3{
	background-color: #488dbc;
	color: #fff;
	transition: all 0.8s ease;
}

.plans_descr:hover .black_descr{
	color: #fff;
	transition: all 0.5s ease;
}

/* .plans_descr:hover .text_zapusk_bottom{
	display: block;
	opacity: 1;
	transition: all .3s linear;
} */

.plans_descr:hover .pro_plan_btn_links{
	padding: 0;
}
/*
.plans_descr:hover .plans_list{
	padding: 0;
} */

/* .plans_descr:hover .circle{
	transition: all .3s linear;
	opacity: 0;
	display: none;
} */

.plans_descr:hover{
	height: auto;
}

.plans_descr:hover .plans_descr_h3{
	background-color: #488dbc;
	color: #fff;
	transition: all 0.8s ease;
}

.plans_descr:hover .black_descr{
	color: #fff;
	transition: all 0.5s ease;
}

/* .plans_descr:hover .text_zapusk_bottom{
	display: block;
	opacity: 1;
} */

.plans_descr:hover .pro_plan_btn_links{
	padding: 0;
}
/*
.plans_descr:hover .plans_list{
	padding: 0;
} */

/* .plans_descr:hover .circle{
	opacity: 0;
	display: none;
} */

.comand{
	background-color: #f9f9f9;
	width: 100%;
	min-height: 800px;
}

.comand_about{
	padding-top: 50px;
}

.comand_about>h3{
	font-size: 20px;
	color: #000;
	font-family: "LatoBlack", sans-serif;
	text-transform: uppercase;
}

.comand_about>h2{
	color: #4996ca;
	font-size: 25px;
	text-transform: uppercase;
	font-family: "LatoBlack", sans-serif;
}

.comand_about_list>p{
	color: #39424b;
	font-size: 18px;
	padding-top: 70px;
	margin: 0;
}

.background-slider {
	position: absolute;
	top:0;
	left:0;
	height: 800px;
	width:100%;
	background-size: cover;
	background-position: center;
}

.comand_about_list_wrap{
	padding: 0;
}

.comand_about_list_img>ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.comand_about_list_img>ul>li{
	z-index: 19;
	position: relative;
	padding-top: 15px;
}

.comamd_about_left{
	padding-left: 60px;
}
.profit_descr{
	text-align: center;
	line-height: 10px;
	padding-top: 50px;
}
.profit_descr>h3{
	font-size: 18px;
	font-family: "LatoBlack", sans-serif;
	color: #060706;
	text-transform: uppercase;
}

.profit_descr>h2{
	font-size: 25px;
	font-family: "LatoBlack", serif;
	color: #4996ca;
	text-transform: uppercase;
}

.logo_alux{
	padding-left: 40px;
}

.alux_profit_img_p{
	padding-left: 30px;
	padding-bottom: 40px;
}

.alux_profit_img_p>img{
	float: left;
	padding-top: 20px;
	padding-right: 25px;
}

.alux_profit_img_p>p{
	font-size: 16px;
	color: #060706;
}

.alux_cart{
	background-color: #f9f9f9;
}

.alux_cart_descr{
	text-align: center;
	padding-top: 40px;
	padding-left: 70px;
}

.alux_cart_descr>h2{
	color: #4996ca;
	font-size: 25px;
	font-family: "LatoBlack", serif;
	text-transform: uppercase;
}

.alux_cart_descr>h3{
	color: #000;
	font-size: 18px;
	font-family: "LatoBlack", serif;
	text-transform: uppercase;
}

#prevBtn{
	border: 1px solid #ccc;
	display: inline;
}

#nextBtn{
	border: 1px solid #ccc;
	display: inline;
}

.prev_btn{
	border: 1px solid #ccc;
	color: #ccc;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	float: left;
	margin: 175px 10px;
	z-index: 19;
	position: relative;

}

.next_btn{
	border: 1px solid #ccc;
	color: #ccc;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	float: right;
	margin: -250px -60px;
	z-index: 19;
	position: relative;
}

.next_btn:hover, .prev_btn:hover{
	border: 1px solid #060706;
	color: #060706;
}

.btn_pos{
	padding-top: 8px;
	font-size: 20px;
	cursor: pointer;
}

.slider_wrapper>h3{
	text-align: center;
	padding: 0px 5px;
}

.slider_wrapper{
	border: 2px solid #ccc;
	margin: 0px 5px;
}

.slider_wrapper>img{
	z-index: 1;
	margin: auto;
	margin-bottom: 5px;
    width: 335px;
    border: 1px solid #cccc;
}

.multimple-items{
	padding-bottom: 80px;
}

.eye{
	display: none;
}

.eye>img{
	position: absolute;
    padding: 0px 135px;
	margin: -85px 0px;
	cursor: pointer;
	display: inline-block;
}

.slider_wrapper:hover .eye{
	display: flex;
	justify-content: center;
}

.spektr{
	background-color: #4996ca;
}

.spektr_descr{
	text-align: center;
	padding-top: 30px;
}

.spektr_descr>h3{
	color: #060606;
	text-transform: uppercase;
	font-size: 25px;
}

.spektr_descr>h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
}

.spektr_items{
	padding-bottom: 50px;
}

.spektr_item{
	text-align: center;
	padding-top: 75px;
	padding-bottom: 40px;
}

.spektr_item:hover{
	border: 1px solid #008EBF;
	border-radius: 10px;
	background-color: #008EBF;
}

.spektr_item:hover .arrow_hover{
	display: block;
}

.spektr_item>p{
	color: #f9f9f9;
	font-size: 16px;
}

.slick-track{
	padding-bottom: 75px;
}

.arrow_hover{
	/* float: right; */
	display: none;
}

.arrow_hover>a{
	color: #fff;
	font-size: 16px;
	font-family: "OpenSansItalic", sans-serif;
	text-decoration: none!important;
	outline: none!important;
}
.bonus_h2{
	color: #000;
}

.top-menu ul li a:hover {
text-decoration: none;
}
.block-phones span {
color: #4996ca;
		font-family: Roboto,sans-serif;
font-size: 14px
}
.block-phones a {
color: #fff;
		font-family: Roboto,sans-serif;
font-size: 14px
}
.block-phones .f-phone {
display: block;
background: url(../images/phone-call.png) center center no-repeat;
		background-size: cover;
width: 15px;
height: 15px;
float: left;
margin-right: 5px;
}

.contacts-main-block.block-text { display:none; }

.mobile-button {
width: 45px;
height: 36px;
cursor: pointer;
position: fixed;
left: 15px;
padding: 11px 10px;
/* bottom: 0px; */
top: 33px;
background: #218ca7;
z-index: 50;
border-radius: 5px;
transition: .3s all .3s; }
.mobile-button .icon-bar {
display: block;
width: 100%;
height: 2px;
border-radius: 1px;
transition: .3s top .3s, 0s opacity 0s, .3s transform .0s;
position: relative;
top: 0;
opacity: 1;
transform: rotate(0deg);
left: 0;
background: #fff; }
.mobile-button .icon-bar + .icon-bar {
margin-top: 4px; }
.mobile-button.open {
background: transparent; }
.mobile-button.open .icon-bar {
transition: .3s top 0s, 0s opacity .3s, .3s transform .3s;
background: #303030; }
.mobile-button.open .icon-bar:nth-child(1) {
top: 6px;
transform: rotate(45deg); }
.mobile-button.open .icon-bar:nth-child(2) {
opacity: 0; }
.mobile-button.open .icon-bar:nth-child(3) {
top: -6px;
transform: rotate(135deg); }


#mobile-menu {
position: fixed;
top: 0;
bottom: 0;
overflow: auto;
width: 270px;
transition: .5s all;
left: -270px;
background: #fff; }
#mobile-menu .mobile-menu-inner {
position: absolute;
top: 60px;
bottom: 20px;
right: 0;
left: 0;
padding-bottom: 20px;
overflow-x: hidden;
overflow-y: auto;
z-index: 20;
text-align: center; }
#mobile-menu .mobile-menu-inner .top-menu {
position: relative; }
#mobile-menu .mobile-menu-inner .top-menu > ul > li.has-child:after {
top: 25px;
right: 20px; }
#mobile-menu ul {
margin: 0;
padding: 0;
list-style: none;
clear: both;
margin-top: 15px;
display: block;
background-color: transparent; }
#mobile-menu ul li {
text-align: left;
padding: 10px 10px;
border-left: 2px solid transparent;
margin-bottom: 10px;
letter-spacing: 1px;
font-weight: bold;
text-transform: uppercase;
border-radius: 0; }
#mobile-menu ul li.open ul {
max-height: 200vh; }
#mobile-menu ul li.active:before {
display: none; }
#mobile-menu ul li.active > a {
color: #fff; }
#mobile-menu ul li ul {
max-height: 0px;
position: relative;
box-shadow: none;
padding: 0;
margin: 0; }
#mobile-menu ul li ul li {
  padding: 0 15px;
  text-transform: none;
  margin: 15px 0;
  text-indent: 0; }
  #mobile-menu ul li ul li a {
	font-size: 16px;
	font-weight: normal;
	padding: 0;
	display: block; }
  #mobile-menu ul li ul li.active {
	background-color: #fff;
	border-left: 4px solid #4490c3; }
#mobile-menu ul li:hover ul, #mobile-menu ul li.active ul {
max-height: 200vh; }
#mobile-menu ul li a {
color: #303030;
font-size: 1.14286em;
padding: 0 10px;
line-height: 1.5;
background-color: transparent;
position: relative; }

#mobile-menu.open {
display: block;
left: 0;
z-index: 20; }

.mobile-menu-overlay {
display: none;
transition: 0s all 0s, .3s opacity .1s;
opacity: 0; }

.mobile-menu-overlay.open {
display: block;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #ccc;
opacity: .5;
overflow: hidden;
z-index: 3; }

body.open {
overflow-y: hidden;
overflow-x: visible; }
.top-navbar{
top:0;
}


@media (max-width: 770px) {
.portfolio-desc {
margin: 0;
padding: 0 20px; }
.portfolio-changer {
margin: 20px 0;
text-align: right; }
.portfolio-cats-item {
padding: 7px 7px; }
.portfolio-changer-btn.btn-hollow, .portfolio-changer-btn.services-item-btn {
position: relative;
top: 0; }
#mobile-menu .top-flex {
flex-wrap: wrap;
flex-direction: column; }
#mobile-menu .btn-hollow, #mobile-menu .services-item-btn {
order: 1;
align-self: center;
color: #4490c3; }
#mobile-menu .top-menu {
order: 0;
width: 100%; }
#mobile-menu .top-menu li {
line-height: 1;
padding: 5px 10px; }
.top-slogan {
font-size: 32px;
text-align: center; }
.benefits-item {
height: auto; }
.benefits-item-arrow {
display: none; }
.services-main {
flex-wrap: wrap; }
.benefits-item-content {
flex-wrap: wrap;
justify-content: center; }
.benefits-item-icon {
width: 100%;
margin-right: 0px;
margin-bottom: 15px; }
.benefits-item-text {
padding-right: 0;
text-align: justify; }
.benefits-item-text h3 {
text-align: center;
margin-bottom: 15px; }
.about-main-footer a {
margin-bottom: 15px; }
.about-text {
padding: 0;
margin: 0 -15px; }
.benefits-main-block {
padding-top: 30px; }
.about-main-footer {
flex-wrap: wrap;
justify-content: space-around; }
.partners-flex {
flex-wrap: wrap; }
.partners-main-title {
width: 100%;
padding: 15px 0; }
.portfolio-cats-item {
width: 123px; }
.partners-main-carousel {
width: 100%; }
.testi-main-block {
font-size: 14px; }
.benefits-item-text p {
line-height: 1.5; }
.testi-carousel {
margin: 0 -15px; }
.benefits-item-tracker {
display: none; }
.testi-wrapper {
padding: 3% 10%; }
.partners-main-carousel {
padding: 0 20px; }
.benefits-item-tracker-end {
display: none; }
.partners-carousel .carousel-arrows.side {
margin-top: 0px; }
.services-item-btn, .services-item-btn {
padding: 8px 14px; }
.news-item {
border-right: 0; }
.portfolio-car .carousel-as-nav-inner {
padding: 0 10%; }
.portfolio-img {
margin-top: 20px;
padding: 0 20px 20px 20px; }
.services-item {
flex-basis: 50%;
border-bottom: 1px solid #99bfd8; }
.services-item:nth-child(2n) {
border-right: 0; }

.b-reviews-title{
font-size: 12px;
padding: 25px 0;
}
.b-header-slider__item__text{
max-width: inherit;
padding: 0 7px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: center;
}
.b-services-content .row > div{
flex-direction: column;
align-items: center;
}
.top-two{
height: auto;
}
.b-services-slider__item__text{
padding: 24px 10px;
}
.b-portfolio .row > div{
flex-direction: column;
align-items: center;
justify-content: center;
}
.b-portfolio-item{
width: auto;
}

}

@media (max-width: 650px) {
.portfolio-grid-item {
width: 350px; }
.portfolio-flex {
justify-content: space-around; } }

@media (max-width: 560px) {
.top-cont-row .top-cont-tel {
display: block;
margin-bottom: 10px;
margin-top: 5px; }
.portfolio-cats-list {
display: flex;
justify-content: flex-start;
padding-bottom: 25px;
padding-top: 25px; }
.portfolio-cats {
overflow: hidden;
overflow-x: auto; }
.top-flex {
justify-content: space-around; }
.top-header {
padding: 10px 0 10px 0; }
.top-search-block {
margin-left: 10px; } }

@media (max-width: 480px) {
.news-main-block {
/* display: none; */
}
}

@media (max-width: 358px) {
.top-logo img {
top: 0;
margin-bottom: 10px; }
.top-menu ul li {
padding: 10px 9px 14px;
font-size: 1em; }
.carousel-item-caption h1 {
font-size: 2em;
margin-bottom: .5em; }
.carousel-item-caption h1 .md {
font-size: 0.8em; } }
.hidden-menu li {
  display: block!important;
  padding: 0 10px !important;
  line-height: 47px!important;
  font-size: 14px !important;
}
.hidden-menu {
  flex-direction: column;
  position: absolute;
  left: 165px;
  padding: 0 10px !important;
  width: auto;
  background-color: rgba(0,0,0,0.65);
  border-top: 2px solid #468DC2;
  display: none !important;
  top: 90px;
  transition: 500s all;
}
.hidden-menu.dropdown-hidden {
  display: block!important;
}
.active:hover .hidden-menu {
  top: 75px;
  display: block!important;
}
.top-menu { position: relative; }
.hover:hover .hidden-menu {  display: block!important; }

.block-hide{
	display: block !important;
}

.slick-slide img{
	margin: auto;
	max-height: 300px;
}

.header_slider_items{
	background-color: #000;
	background-image: url('/img/internet-magazin/hands.png');
	background-repeat: no-repeat;
	background-size: 60% 60%;
	background-position-y: 60%;
	width: 100%;
	height: 100vh!important;
}

.header_slider{
	width: 100%;
}

@media(max-width: 768px ) {
	.header_slider_items{
		height: auto!important;
	}

	.tarif_plan_blocks .tarif_media_block{
		margin-bottom: 40px;
	}

	.tarif_plan_blocks .tarif_media_block:nth-last-child(1){
		margin-bottom: 0px;
	}
.comand_about h2 {
	text-align: center;
}
}

.header_slider .slick-track{
	padding-bottom: 0px;
}

.header_slider_text_white, .header_slider_text_blue{
	font-size: 30px;
	font-family: "LatoBlack", sans-serif;
	padding: 0;
	margin: 0;
}
.header_slider_text_white{
	color: #fff;
}

.header_slider_text_blue{
	color: #4996ca;
}
.header_slider_descr{
	padding-top: 200px;
	align-items: center;
}
.header_slider_p{
	font-size: 18px;
	font-family: "OpenSansBold";
	color: #fff;
	padding-top: 20px;
	padding-left: 20px;
}
.header_slider_items .container{
	height: 100%;
}
.header_slider_items .container .row{
	height: 100%;
}
.header_slider_btn{
	color: #4996ca;
	font-size: 15px;
	font-family: "LatoBlack";
}
.header_slider_btn_wrap{
	width: 200px;
	border: 1px solid #4996ca;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-left: none;
	display: flex;
	align-items: flex-end;
	margin-bottom: 50px;
}
.head{
	display: flex;
	align-items: flex-end;
	height: 100%;
}

@media(max-width: 768px) {
	.header_slider_items .container .row{
	display: flex;
}
.head{
	padding-bottom: 25px;
	height: auto;
}
}
.comand_about_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.comand_about_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    text-align: center;
    margin: 5px 0;
}
