/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo_alux>img{
		width: 800px;
	}
	.prev_btn{
		margin: 105px -5px;
	}
	.next_btn{
		margin: -250px -40px;
	}
	.pro_plan_btn_links {
		padding-top: 155px;
		padding-bottom: 30px;
	}
	.start_plan_btn_links {
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.basic_plan_btn_links{
		padding-top: 30px;
    	padding-bottom: 30px;
	}
	.circle{
		margin: 10px 70px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.about_includes_2, .about_includes_1{
		margin: 0;
		padding: 0;
	}
	.circle{
		margin: 10px 275px;
	}
	.tarif_plan{
		background-image: none;
	}
	.profit_descr{
		padding-top: 700px;
		
	}
	.logo_alux>img{
		width: 580px;
	}
	.slider_wrapper>img{
		width: 85%;
    	height: 275px;
	}
	.prev_btn{
		margin: 113px -10px;
	}
	.next_btn{
		margin: -240px -25px;
	}
	.slider_wrapper {
		width: 320px;
	}
	.btn_pos{
		padding-top: 5px;
		font-size: 15px;
	}
	.prev_btn, .next_btn{
		width: 35px;
		height: 35px;
	}
	.eye>img{
		padding: 0px 70px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header_slider_items{
		height: 100%;
	}
	.circle {
		margin: 10px 100px;
	}
	.tarif_media_block{
		padding-top: 30px;
	}
	.tarif_plan_h2_descr>h2{
		padding-top: 10px;
	}
	.tarif_plan_blocks {
		padding-top: 0px;
	}
	.background-slider{
		height: 300px;
	}
	.comand_about_list>p {
		padding-top: 30px;
	}
	.profit_descr {
		padding-top: 330px;
	}
	.comand_about_list_img>ul>li{
		padding: 0;
		padding-top: 30px;
	}
	.logo_alux>img{
		width: 275px;
	}
	.eye>img{
		display: flex;
    	justify-content: center;
	}
	.comand_about>h3{
		font-size: 18px;
	}
	.slider_wrapper>img{
		width: 230px;
		margin: auto;
		z-index: 1;
    	height: 270px;
	}
	.slider_wrapper>h3{
		padding: 0;
		font-size: 14px;
	}
	.prev_btn {
		border: 1px solid #ccc;
		color: #ccc;
		width: 35px;
		height: 35px;
		border-radius: 50px;
		text-align: center;
		float: left;
		display: flex;
		align-items: center;
		margin-top: 120px;
		margin-left: -15px;
		justify-content: center;
	}
	.btn_pos{
		padding-top: 0;
	}
	.next_btn {
		border: 1px solid #ccc;
		color: #ccc;
		width: 35px;
		height: 35px;
		border-radius: 50px;
		text-align: center;
		float: right;
		margin: -225px -15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.alux_cart_descr{
		padding-left: 20px;
	}
	.slider_wrapper{
		margin: 0;
		border: none;
	}
	.spektr_item {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.comand_about{
		padding-top: 0;
	}
	.header_slider_items{
		background-size: 70%;
		background-position-y: 15%;
		height: 100%!important;
	}
	.header_slider_items .container .row{
		display: flex;
		flex-wrap: wrap-reverse;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.logo_alux>img {
		width: 255px;
	}
	.comand_about_list>p {
		font-size: 14px;
	}
	.comand_about_list_img>ul>li>img{
		width: 95px;
	}
	.comand_about_list_img>ul>li {
		padding-top: 15px;
	}
	.comand_about_list>p {
		padding-top: 23px;
	}
	.circle {
		margin: 10px 60px;
	}
	.btn_plans {
		padding-bottom: 10px;
	}
	.profit_descr {
		padding-top: 200px;
	}
	.next_btn {
		margin: -225px -26px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.slider_wrapper>img{
		width: 85%;
    	height: 275px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/* .logo_alux{
		width: 795px;
	}
	.pro_plan_btn_links {
		padding-top: 155px;
		padding-bottom: 30px;
	}
	.start_plan_btn_links {
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.basic_plan_btn_links{
		padding-top: 30px;
    	padding-bottom: 30px;
	}
	.next_btn{
		margin: -240px -43px;
	}
	.prev_btn{
		margin: 175px -10px;
	}
	.slider_wrapper>img {
		width: 275px;
	}
	.slider_wrapper{
		width: 250px;
	}
	.logo_alux{
		padding-left: 0;
	}
	.eye>img{
		padding: 0px 100px;
	} */
}