﻿
 @media (min-width: 1221px) {
  .multi #multiChoice{
    width: 100%;
  }
  .container {
    width: 1240px;
  }
}
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #303030;
  background: #000;
  overflow-x: hidden;
}
a {
  color: inherit;
  transition: .3s all;
  outline: none;
}
li a:hover {
  color: #99B302;
  text-decoration: none;
}
a:hover {
  outline: none;
  color: orange;
}
header.header {
  background: gray;
  width: 100%;
  height: 620px;
  overflow: hidden;
  text-align: right;
}
.top-navbar {
  padding: 0;
  background-color: rgba(0,0,0,0.68);
  position: relative;
  z-index: 3;
}
.top-navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.top-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 992px){
.top-flex {
    flex-wrap: wrap;
}
}
a {
  color: inherit;
  transition: .3s all;
  outline: none;
}
.btn-hollow.order-btn {
  color: white;
  padding: 13px 27px !important;
  text-transform: uppercase !important;
  text-decoration: none;
  border-radius: 0!important;
  font-size: 13px!important;
}
.btn-hollow,
.services-item-btn {
  padding: 11px 29px;
  font-size: 1.6rem;
  border: 1px solid #99B302;
  font-weight: 300;
  position: relative;
}
.btn-hollow.btn.order-btn:focus,
.btn-hollow.btn.order-btn:hover {
  outline: none;
}
.btn-hollow:after,
.services-item-btn:after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid #99B302;
  transition: .4s all;
  opacity: .4;
  outline: none;
}
.btn-hollow:before,
.services-item-btn:before,
.btn-hollow:after,
.services-item-btn:after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid #99B302;
  transition: .4s all;
  opacity: .4;
  outline: none;
}
.btn-hollow:hover:before,
.services-item-btn:hover:before {
  transform: scaleX(1.1) scaleY(1.3);
  outline: none;
}
.btn-hollow:hover:after,
.services-item-btn:hover:after {
  transform: scaleX(0.9) scaleY(0.7);
  outline: none;
}
.top-menu ul {
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
}
.top-menu ul li {
  line-height: 76px;
  padding: 0 10px;
  margin: 0px;
  text-transform: uppercase;
}
.top-menu ul li.active {
  background-color: #99B302;
  color: #fff;
  text-align: center;
  color: #060606;
  font-size: 16px;
  width: 13rem;
  cursor: pointer;
}
.top-menu ul li.active a:hover{
  color: #000;
}
.top-menu ul li.active:hover{
  background: #bcdc51;
}
.logo {
  width: 18rem;
}
.main {
  margin-top: 7.5rem;
  height: 100%;
  width: 101%;
  overflow-x: hidden;
}
.main-slide {
  height: 100%;
  width: 100%;
}
.main-slide-first {
  background-color: #060606;
  background-image: radial-gradient(circle 545px at center, #313131 0%, #313131 20%, #060606 100%);
  background-position: -23rem 0;
}
.main-slide-scd {
  background: url(../img/main-bg2.png);
}
.main-slide-card {
  background-color: #000000;
}
.main-slide-cards {
  height: 576px;
}
.main-card-p {
  width: 443px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}
.main-capt {
  color: #abbc00;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  margin-top: 16rem;
  margin-bottom: 5.7rem;
}
.main-text-block {
  padding-left: 3rem;
}
.main-text-block p {
  width: 460px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
}
.main-glasses {
  margin-top: 10rem;
  width: 700px !important;
  height: 530px !important;
}
.main-sec-p {
  color: #ffffff;
  font-size: 20px;
  width: 433px;
}
.main-p {
  border-left: 1px solid #abbc00;
  padding-left: 1.4rem;
}
.sc-capt {
  margin-top: 25rem;
  width: 447px;
  font-size: 35px;
}
.card-capt {
  font-size: 35px;
  margin-left: -2rem;
  margin-top: 18rem;
}
.tree-lamp {
  width: 541px !important;
  margin-top: 10rem;
  margin-left: 3rem;
  height: 467px;
}
.owl-carousel .owl-dots .owl-dot {
  background-color: transparent;
  border: 1px solid #abbc00;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  outline: none;
  color: #abbc00;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  transition: .8s;
  margin: 0 15px;
  z-index: 999;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot.active {
  background-color: #abbc00;
  color: #18181f;
}
.owl-carousel .owl-dots {
  z-index: 999;
  margin-top: -110px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.main-fst-p {
  display: inline-block;
}

.main-slide-discount  .container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 1200px;
}
.arms {
  margin-top: 15rem;
  width: 70rem !important;
}
.sl4-text {
  padding-left: 9rem;
}
.main-slide-discount {
  background: #000000;
  width: 1920px;
  height: 703px
}
.main-slide-discount h2 {
  font-weight: 700;
  color: #abbc00;
  font-size: 30px;
  width: 403px;
  margin-top: 27rem;
}
.main-slide-discount p {
  width: 413px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.modal-open {
  position: absolute;
  color: black;
  width: 65px;
  height: 33px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  opacity: 0.2;
  font-size: 20px;
  transform: rotate(-90deg) translateY(50%);
  right: 0!important;
  top: 50%;
  transition: .5s;
}
.modal-open:hover {
  opacity: 0.35;
}
.right-modal {
  position: absolute;
  top: 7.6rem;
  z-index: 98;
  right: 0;
  height: 703px;
  width: 1050px;
  overflow-x: hidden;
  padding-right: 0;
  display: flex;
  display: none;
}
.right-modal-content {
  padding-right: 0;
  height: 703px;
  background-color: #585c5b;
}
.right-modal .container {
  padding-right: 0;
}
.right-modal-capt {
  font-size: 30px;
  margin-top: 5rem;
  width: 45rem;
}
.right-modal-p p {
  font-family: Lato;
  width: 496px;
  font-size: 16px;
  border-left: 1px solid #abbc00;
  padding-left: 1.4rem;
}
.right-modal-buttons {
  margin-top: 4.7rem;
}
.tree-img {
  width: 205px;
}
.right-inside .icon-right {
  color: black;
  font-size: 20px;
}
.right-modal-content .col-lg-1 {
  display: flex;
  align-items: center;
  height: 703px;
}
.minus-right {
  background-color: transparent;
  border: none;
}
.multiland {
  width: 216px;
  height: 60px;
  border: 1px solid #a6bb15;
  background-color: transparent;
  border-radius: 8px;
  color: #a6bb15;
  font-size: 16px;
}
.tarif-right {
  border-radius: 8px;
  width: 216px;
  height: 60px;
  border: 3px solid #747f07;
  background-color: #a6bb15;
  color: #060606;
  font-size: 16px;
  margin-left: 7rem;
}
.right-modal {
  -webkit-transition: all 800ms cubic-bezier(0.525, 1, 0.210, 0.680); /* older webkit */
  -webkit-transition: all 800ms cubic-bezier(0.525, 1.650, 0.210, 0.680);
  -moz-transition: all 800ms cubic-bezier(0.525, 1.650, 0.210, 0.680);
  -o-transition: all 800ms cubic-bezier(0.525, 1.650, 0.210, 0.680);
  transition: all 800ms cubic-bezier(0.525, 1.650, 0.210, 0.680);
  right: -1200px;
}
.tarif {
  background: url(../img/a-lux-bgl.png);
  background-size: cover;
  background-position-x: center;
  height: 100%;
  padding-top:40px;
}
.tarif h2 {
  color: #abbc00;
  font-size: 40px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
.tarif-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-left: 1px solid #abbc00;
  padding-left: 1rem;
  margin-top: 30px;
  width: 788px;
}
.portfolio-cont h2 {
  color: #abbc00 !important;
  font-size: 40px!important;
  font-weight: 700;
  margin-bottom: 3rem!important;
}
.quest-img {
  position: absolute;
  margin-left: 33rem;
  margin-top: -.8rem;
}
.butterfly {
  position: absolute;
  margin-top: -16.5rem;
  margin-left: 20rem;
}
.tarifs {
  margin-top: 13rem;

}
.tarifs-cena {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarifs-block {
  width: 393px;
  margin-left: 1.5rem;
  min-height: 501px;
  border: 1px solid #aad02a;
  background-color: rgba(92, 89, 82, 0.2);
}
.tarifs-block:first-child {
  margin-left: 0;
}
.tarifs-capt {
  color: #f0fafb;
  font-size: 25px;
  font-weight: 700;
}
.tarifs-capt::after {
  content: '';
  width: 85px;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  border: 1px solid #aad02a;
}
.tarifs-capt-block {
  margin-left: 6.4rem;
  margin-top: -2.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 61px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.32);
  background-color: #171715;
}
.tarifs-text {
  text-align: center;
  width: 370px;
  color: #f0fafb;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2rem;
}
.tarif-cena-text {
  color: #ffffff;
  font-size: 27px;
  font-weight: 700;
}
.tarif-tenge {
  margin-left: 1rem;
  margin-bottom: .7rem;
}
.tarif .break-line {
  font-size: 2.4rem;
  margin: 0 2rem;
  color: #abbc00;
}
.tarif .moment {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  text-align: left;
}
.tarifs-plan {
  height: 24.5rem;
  font-size: 1.6rem;
  position: relative;
  color: #39424b;
}
.tarifs-plan::after,
.tarifs-plan::before {
  content: '';
  margin-left: -2.5rem;
  display: block;
  width: 322px;
  height: 0;
  border: 1px solid #aad02a;
}
.tarifs-plan::after {
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
}
.tarifs-plan::before {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.tarifs-plan li {
  list-style: none;
  text-align: left;
  margin-left: 2rem;
  color: #abbc00;
  font-size: 14px;
  margin-bottom: 1rem;
}
.tarifs-plan li::before {
  content: url(../img/tick.png);
  margin-left: -4.5rem;
  margin-right: 3rem;
  height: 6rem;
}
.tarif-btn {
  width: 100%;
}
.tarif-btn-block a:hover{
  color: #000;
  text-decoration: none;
}
.tarifs-block {
  padding: 0;
}
.tarifs-all {
  padding: 0 1rem;
}
.tb2 .tarif-btn,
.tb3 .tarif-btn {
  width: 49.9%;
  margin-left: 0;
  margin-right: 0;
}
.tarif-btn {
  margin-top: 2rem;
  height: 5.45rem;
  background-color: #aad02a;
  border: none;
  color: #060606;
  text-transform: uppercase;
  font-size: 16px;
  /*transition: .5s;*/
}
.tarif-btn-1 {
  color: #fff;
  border: 1px solid #aad02a;
  background-color: transparent;
}
.tarif-btn:hover {
  color: #202020;
  background-color: #bcdc51;
}
.tarif-btn-block {
  display: flex;
  justify-content: center;
}
#portfolio {
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.portfolio-desc {
  width: 286px;
  height: 50px;
  padding-left: 1.5rem;
  padding-top: .2rem;
  background-color: #121212;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin-top: 2rem;
}
.portfolio-desc::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 100%;
  border: 20px solid transparent;
  border-top: 20px solid #121212;
}
.portfolio-img-block {
  height: 22rem;
  text-align: center;
}
.portfolio-cont {
  text-align: center;
}
.sec-row {
  margin-top: 5rem;
}
.other-works {
  width: 309px;
  height: 61px;
  border: 1px solid #aad02a;
  color: #abbc00;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 7rem;
}
/*.other-works:hover{
      color: white;
    padding: 13px 27px !important;
    text-transform: uppercase !important;
    text-decoration: none;
    border-radius: 0!important;
    font-size: 13px!important;
}*/
.multi {
  background-color: #060606;
  padding-bottom: 9rem;
}
label.arge-label {
  margin-left: 7rem;
}
label.arge-label::before {
  content: url(../img/znak.png);
  margin-left: -4.2rem;
  position: absolute;
  margin-right: 5.8rem;
  margin-top: .2rem;
}
#conf:checked + label.arge-label::before {
  content: url('../img/galochka-znak.png');
  margin-left: -4.2rem;
  margin-right: 5rem;
}
#conf {
  display: none;
}
.multi .paket {
  margin-top: 6rem;
  color: #ffffff;
  font-size: 35px;
  font-weight: 900;
}
.multi h2 {
  width: 541px;
  color: #abbc00;
  font-size: 35px;
  font-weight: 700;
}
.multi .user-p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  width: 495px;
  border-left: 1px solid #abbc00;
  padding-left: 1.4rem;
  margin-top: 6rem;
}
.multi .how-work {
  margin-top: 2rem;
  color: #abbc00;
  font-size: 35px;
  font-weight: 700;
}
.multi #multiChoice {
  width: 1200px;
  height: 56px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.29);
  background-color: #f2f1f1;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 400;
  padding-left: 1rem;
  outline: none;
}
.multi #multiChoice option {
  height: 3rem;
  border: 2px solid red;
}
#img1,
#img2 {
  display: none;
}
.choice-img {
  margin-top: 4rem;
}
.form {
  width: 100%;
  margin-top: 4rem;
  height: 428px;

  background-color: #171715;
  text-align: center;
  position: relative;
}
.form-input {
  background-color: transparent;
  padding-left: 2rem;
  width: 509px;
  height: 49px;
  border: 1px solid #f2f1f1;
  font-size: 16px;
  color: #d2d2d2;
  outline: none;
  margin-top: 2rem;
}
.form-input::-webkit-input-placeholder {
  color: #d2d2d2;
}
.form-input::-moz-placeholder {
  color: #d2d2d2;
}
.form-input:-moz-placeholder {
  color: #d2d2d2;
}
.form-input:-ms-input-placeholder {
  color: #d2d2d2;
}
.form .agreement {
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  margin-top: 3rem;
}
.form .agreement input {
  margin-right: 20px;
  margin-left: 29px;
}
.form-desc {
  text-align: center;
  margin: 0 auto;
  width: 417px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding-top: 6.5rem;
  margin-bottom: 2rem;
}
.form-capt {
  color: #abbc00;
  font-weight: 900;
  font-size: 23px;
  width: 297px;
  width: 33rem;
  height: 72px;

  background-color: #171715;
  padding-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}
.form-cols {
  display: table;
  height: 569px;
}
.form-wrap {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.32);
background-color: #171715; border: solid #171715 1px;
  display: table-cell;
  vertical-align: middle;
  height: 569px;
}
.form-all {
  background: url(../img/bg.png);
  height: 569px;
  background-size: contain;
}
.form-all h2 {
  margin-top: 5rem;
  color: #abbc00;
  font-size: 35px;
  font-weight: 700;
}
.form-all .meaning {
  margin-top: 7rem;
}
.form-all .meaning-block {
  align-items: center;
  display: flex;
  margin-top: 2rem;
}
.form-all .meaning-block p {
  text-align: left;
  margin-left: 5rem;
  color: #abbc00;
  font-size: 18px;
  font-weight: 400;
  width: 357px;
}
.send {
  width: 201px;
  height: 55px;
  background-color: #aad02a;
  border: none;
  border-radius: 8px;
  margin-top: 2.5rem;
  color: #060606;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.send:hover{
  background-color: #bcdc51;
}
.info {
  background: url(../img/info-bg.png) no-repeat #000000;
  padding-bottom: 10rem;
}
.info h2 {
  color: #abbc00;
  font-size: 35px;
  font-weight: 700;
  margin-top: 10rem;
}
.info-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4rem;
}
.info .percent {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.info .percent span {
  color: #abbc00;
  font-size: 20px;
  font-weight: 400;
  margin-left: 4rem;
  width: 424px;
  display: inline-block;
}
.info .lime {
  margin-top: 14rem;
  margin-left: -15rem;
}
.info .question {
  border: none;
  border-radius: 9px;
  width: 311px;
  height: 55px;
  background-color: #aad02a;
  color: #060606;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.info .question:hover{
  background-color: #bcdc51;
}
.info-right-side {
  text-align: center;
}
.video-cont {
  padding-bottom: 1rem;
  padding-top: 5rem;
  text-align: center;
}
.video-cont .row {
  display: flex;
  justify-content: center;
}
.video-cont h2 {
  color: #abbc00;
  font-size: 30px;
  font-weight: 700;
}
.video-cont .youtube {
  margin-top: 8rem;
}
.array {
  background-image: radial-gradient(circle 744px at center, rgba(49, 49, 49, 0.68) 0%, rgba(49, 49, 49, 0.68) 20%, rgba(6, 6, 6, 0.68) 100%);
  text-align: center;
  height: 100%;
  background-color: #000000;
}
.array-img-block {
  height: 195px;
  vertical-align: bottom;
}
.array h2 {
  color: #abbc00;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8rem;
}
.array h3 {
  margin: 1rem auto;
  width: 240px;
  color: #abbc00;
  font-size: 18px;
  font-weight: 700;
  height: 70px;
  display: flex;
  align-items: center;
  border: .5px solid #aad02a;
  border-right: none;
  border-left: none;
  justify-content: center;
}
.array-p {
  margin: 0 auto;
  margin-top: 1rem;
  width: 310px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.array .sec-row {
  margin-top: 10rem;
}
.array .target {
  margin-left: -7rem;
}
.as-result {
  background-color: #040404;
  padding-bottom: 7rem;
}
.as-result .result-p {
  margin-top: 23rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-left: 2.5rem;
  border-left: 1px solid #abbc00;
  width: 441px;
}
.as-result .result-p p {
  margin-bottom: 2rem;
}
.as-result .result-p .green-p {
  color: #abbc00;
}
.as-result h2 {
  color: #abbc00;
  font-size: 35px;
  font-weight: 700;
  margin-top: 7rem;
}
.as-result .circle {
  width: 516px;
  display: flex;
  height: 516px;
  border-radius: 50%;
  border: 1px solid #aad02a;
  margin-top: 5rem;
  position: relative;
}
.as-result .circle-side {
  width: 258px;
}
.as-result .circle-center {
  position: absolute;
  width: 193px;
  height: 193px;
  border: 1px solid #aad02a;
  background-color: #abbc00;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
.as-result .circle-center p {
  margin: 1.5rem auto 0;
  width: 168px;
  color: #040404;
  font-size: 14px;
  font-weight: 700;
}
.as-result .circle-left {
  height: 515px;
  border-right: 1px solid #aad02a;
}
.as-result .circle-left-top {
  border-bottom: 1px solid #aad02a;
  height: 258px !important;
}
.as-result .circle-right {
  height: 516px !important;
}
.as-result .circle-right-top {
  border-bottom: 1px solid #aad02a;
  height: 208px;
}
.as-result .circle-text {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 23px !important;
  text-align: left;
}
.as-result .circle .p73 {
  margin-left: 10rem;
  padding-top: 4rem;
  color: #abbc00;
  font-size: 70px;
  font-weight: 700;
}
.as-result .circle .t73 {
  margin-left: 3rem;
  margin-top: 3rem;
}
.as-result .circle .t102 {
  margin-top: 1rem;
  margin-left: 3rem;
}
.as-result .circle .record {
  margin-top: 4rem;
  margin-left: 5rem;
}
.as-result .circle .p102 {
  color: #abbc00;
  font-size: 70px;
  font-weight: 700;
  margin-left: 12rem;
  margin-top: 0;
  position: absolute;
}
.as-result .circle .p200 {
  color: #abbc00;
  font-size: 55px;
  margin-top: 5rem;
  margin-left: 2rem;
  font-weight: 700;
}
.as-result .circle .t200 {
  margin-top: 4.2rem;
  margin-left: 12rem;
}
.as-result .circle .t30 {
  margin-top: 1rem;
  margin-left: 11rem;
}
.as-result .circle .p30 {
  color: #abbc00;
  font-size: 70px;
  margin-top: 3rem;
  margin-left: 2rem;
  font-weight: 700;
}
.phone {
  margin-left: 2rem;
  margin-top: 10rem;
  position: relative;
}
.phone-number {
  display: block;
  color: #e9e9e7;
  font-size: 25px;
  font-weight: 400;
}
.phone::before {
  content: url(../img/call-answer.png);
  display: inline-block;
  left: -4rem;
  top: 1rem;
  position: absolute;
}
.phone .contacts {
  display: inline;
}
.where {
  width: 212px;
  color: #f0ebe8;
  font-size: 15px;
  font-weight: 400;
  margin-left: 2rem;
  position: relative;
}
.where::before {
  content: url(../img/placeholder-green.png);
  display: inline-block;
  left: -4rem;
  top: 0rem;
  position: absolute;
}
.bottom-cont h3 {
  width: 605px;
  margin-top: 4rem;
  height: 95px;
  color: #abbc00;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.bottom-form-bg {
  width: 596px;
  height: 284px;
  background-color: #171715;
  background-image: linear-gradient(to bottom, #000000 0%, #d0d0d0 100%);
  opacity: 0.1;

}
.btm-form {
  position: absolute;
  margin-top: -25rem;
  text-align: center;
  margin-left: 4.5rem;
}
.btm-form button {
  margin-top: 3rem;
}
.icons-anchor {
  margin-top: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.bf-text {
  color: #ffffff;
  font-size: 1.2rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  width: 62rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.footer {
  padding-top: 4rem;
}
.footer i {
  color: white;
  font-size: 2.2rem;
  margin-left: 3rem;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 50%;
  text-align: center;
  border: transparent 1px solid;
  transition: .2s all;
  border: white 1px solid;
  box-sizing: border-box;
}
.footer i:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 1199px) {
  .form-all .container{
    width: auto;
  }
  .multi .container{
    width: auto;
  }
  .portfolio-cont{
    width: auto;
  }
 /* .portfolio-cont .row{
    display: flex;
  }*/
  .top-menu ul {
    font-size: 1.5rem;
  }
  .top-navbar-wrapper .container {
    width: 100%;
    padding: 0 5rem;
  }
   .multi #multiChoice{
    width: 100%;
  }
  .lightSpeedIn{
    width: 100%;
  }
  .tarif{
    height: auto;
  }
  .tb3{
    margin: 0;
    margin-top: 3rem;
  }
  .form-all .container{
    display: flex;
  }
  .info .lime{
    margin:0;
  }
  .bottom-cont h3{
    width: auto;
  }
  .bottom-form-bg{
    width: auto;
  }
  .form-input{
    width: 90%;
  }
  .btm-form{
    position: static;
    text-align: left;
  }
  .btm-form button{
    display: block;
  }
  .big-green-arrow{
    width: 100%;
  }
  .buble-3{
    display: none;
  }
  .modal-open{
    display: none;
  }
}
/*   @media (min-width: 1221px) {
  .multi #multiChoice{
    width: 100%;
  }
}*/
.down-arrow {
  background-color: transparent;
  border: none;
  margin-left: 2rem;
  margin-top: 16rem;
  position: absolute;
}
@media (min-width: 700px) {
  body {
    min-width: 1200px;
  }
}
.land-mobile-logo {
  display: none;
}
@media (max-width: 800px) {

  .land-mobile-logo {
    width: 100%;
    background-color: #000;
    text-align: center;
    display: block;
  }
  .main-capt {
    margin-top: 5rem;
  }
  .land-mobile-logo img {
    margin: 30px auto 0;
  }
  .tarifs-block {
    width: auto;
  }
  .mobile-button {
    background: #A2B524!important;
  }
  .main, .main-slide {
    height: 690px;
  }
  .main-slide-discount h2 {
    margin-top: 5rem!important;
  }
  .main-slide {
    background-image: none;
    background-color: black;
  }
  .main-slide-discount .container {
    position: static!important;
    width: auto;
    left: 0;
    transform: none;
  }
  .main-slide-discount .container p {
    border-left: 1px solid #abbc00;
    padding-left: .4rem;
  }
  .sl4-text {
    padding-left: 2rem!important;
  }

  h1, h2, span, p {
    width: 100%!important;
  }
  div:not .whatsapp  {
    width: 100%!important;
  }
  .modal-open, .right-modal {
    display: none!important;
  }
  .tarif, .array {
   height: auto;
 }
 .butterfly {
  display: none;
}
.tarifs-block {
 margin: 35px auto;
 margin-left: auto!important;
}
.owl-carousel p {
  width: 70%!important;;
  margin-left: -10px;
}
.tarif .break-line {
  width: 6px!important;
}
.tarifs {
  margin-top: 5rem;
}
.portfolio-desc {
  margin: 1rem auto !important;
}
.big-green-arrow {
  display: none;
}
.multi #multiChoice {
  width: 95%!important;
}
.choice-img {
  width: 100%!important;
}
.info {
  overflow-x: hidden;
}
.form-input {
  width: auto;
}
.info .col-lg-7 {
  margin-top: 560px;
}
h2 {
  font-size: 30px!important;
}
.paket {
  font-size: 20px!important;
}
.info-right-side {
  display: none;
}
/*.video-cont .row {
  flex-direction: column;
}*/
.as-result {
  display: none!important;
}
.array .sec-row {
  margin-top: 0!important;
}
.array .col-lg-4 {
  margin-top: 35px;
}
.bottom-row .col-lg-3 img {
  display: none;
}
.bottom-form-bg {
  width: 100%;
}
.btm-form {
  margin-left: 0;
}
.bottom h3 {
  width: 100%;
}
.where {
  width: 302px!important;
  margin: 0 auto!important;
}
.phone {
  width: 282px!important;
  margin: 5rem auto 1rem!important;
}
.bf-text {
  width: 100%;
}
.main {
  margin-top: 0;
}
.main-slide-discount p {
  width: 20%!important;
}
.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  font-size: 8px;
  color: transparent;
  background-color: black;
}
.owl-carousel .owl-dots .owl-dot.active {

  background-color: #ABBC00;
}
.owl-carousel p {
  font-size: 14px;
}
h2 {
  font-size: 25px!important;
}
.info h2 {
  padding-top: 70px;
}
iframe {
  width: 300px;
  height: 280px;
}
.buble, .list, .paint {
  display: none;
}
}
.list {
  position: absolute;
  z-index: 98;
}
.list-1 {
  width: 44px!important;
  height: 48px!important;
  top: 100px;
  left: 600px;



}
.list-2 {
  width: 74px!important;
  height: 69px!important;
  top: 470px;
  left: 650px;



}
.list-3 {
  width: 64px!important;
  height: 62px!important;
  top: 560px;
  left: 1400px;



}
.paint {
  position: absolute;
  top: 350px;
  left: -300px;
  z-index: 98;
}
.portfolio-cont {
  position: relative;
}
/*html, body {
  overflow-x: hidden!important;
}*/
.more-href {
  width: 100%;
}
.more-href button {
  width: 100%;
}
.info .col-lg-7 {
  position: relative;
}
.buble {
  position: absolute;
}
.buble-1 {
  left: -150px;
  top: 80rem;
}
.buble-2 {
  top: 90rem;
  left: 71rem;
}
.buble-3 {
  top: -72rem;
  left: 105rem;
}
.buble-4 {
  z-index: 98;
  left: 66rem;
  top: -149rem;
}
.sales-btf {
  position: absolute;
  left: 56rem;
  top: 1rem;
}
@media only screen and (max-width : 767px) {
  .quest-img {
    display: none!important;
  }
  .form-all .meaning-block p {
    margin-left: 2rem;
  }
  .multi {
    padding-bottom: 4rem;
  }
  .info .percent span {
    margin-left: 2rem;
    font-size: 16px;
    padding-bottom: 0;
  }
  .video-cont {
    padding-top: 0;
  }
  .tarifs-plan li {
    margin-bottom: .5rem;
    font-size: 13px;
  }
  .main-fst-p.main-p p {
    width: 100%!important;
  }
  .main-slide-discount h2 {
    width: 32rem !important;
  }
}
@media (max-width: 700px) {
  .main {
    overflow: hidden!important;
  }
  .contacts {
    margin-left: 40px;
  }
  .bottom-cont h3 {
    width: auto;
    font-size: 16px!important;
  }
  h3 {
    font-size: 15px;
  }
  .main-slide-first {
    background-repeat: no-repeat;
  }
  .main-slide .container {
    display: flex;
    flex-direction: column;

  }
  .tree-lamp {
    height: auto;
    width: 270px!important;
    margin-top: 100px;
  }
  .main-slide h1 {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .main-slide h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: .8rem;
  }
  .owl-carousel .owl-dots {
    margin-top: -30px !important;
  }
  .owl-carousel .owl-dots .owl-dot {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
  .main-slide-card .container, .main-slide-scd .container {
    flex-direction: column-reverse;
  }
  .main-slide-card {

  }
  img.main-slide-cards {
    width: 250px!important;
    margin-top: 50px;
    height: auto!important;
  }
  .main-slide-card .col-lg-5 {
    margin-top: -20px;
  }
  .main-slide-discount .col-lg-7 col-lg-offset-0 {
    width: 100%;
  }
  .main-glasses {
    width: 375px!important;
    height: auto!important;
  }
  .main-slide img {
    margin-left: auto;
    margin-right: auto;
  }
  .arms {
    width: 400px!important;
    margin-left: -10px!important;
  }
  .main-slide-discount .container p {
    padding-left: 1rem;
  }
  .owl-dots {
    width: 230px;
  }
}
.mobile-menu-right {
  position: fixed;
  top: 90px;
  bottom: 0;
  overflow: auto;
  width: 200px;
  transition: .5s all;
  right: -200px;
  background: #A2B524;
}
.menu-right-active {
  overflow: hidden;
  transition: .5s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  right: 0;
  z-index: 40;
  height: 120px;
}
.menu-right-active p {
 font-family: Roboto,sans-serif;
 font-size: 16px;
 color: #fff;
}

.menu-right-active a {
  margin-bottom: 5px;
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  color: #fff;
}

.triangle-tooltip {
  transition: .5s all;
  z-index: 50;
  top: 80px;
  right: -20px;
  position: fixed;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #A2B524;
}

.menu-right-active .triangle-tooltip {
  transition: .5s all;
  right: 20px;
}

.block-phones span {
  color: #99B302;
}
.block-phones  label {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  line-height: 1.277571;
}
.block-phones .f-phone {
  display: block;
  background: url(../images/phone-15.png) center center no-repeat;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.list-obert{
  overflow: hidden;
  height:3000px;
  max-height: 3000px;
  position: absolute;
  top: 0;
  width: 100%;
}

/*@media only screen and (max-width: 1199px) {
  .header_logo {
    display: block;
  }
}*/
@media only screen and (max-width: 700px) {
  .info .col-lg-7 {
    margin-top: 400px;
  }
}
@media (max-width: 480px){
  .info .col-lg-7 {
    margin-top: 420px;
  }
  .form-cols {
    display: table;
    height: 100%;
  }
  .form-wrap {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.32);
background-color: #171715; border: solid #171715 1px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .form{
   height: 100%;
   padding-bottom:20px;
 }
}

@media (max-width: 450px){
  .info .col-lg-7 {
    margin-top: 450px;
  }
  .form-cols {
    display: table;
    height: 100%;
  }
  .form-wrap {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.32);
background-color: #171715; border: solid #171715 1px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .form{
   height: 100%;
   padding-bottom:20px;
 }
}
.btm-form{
  text-align: center;
}
@media (max-width: 420px){
  .form-input{
    width: 100%;
  }
  .btm-form{

  }
  .btm-form button{
    display: inline-block;
  }
  .form-all .container {
     display: block;
}
  .video-cont .row{
    display: block;
  }
  .info .col-lg-7 {
    margin-top: 470px;
  }
  .form-cols {
    display: table;
    height: 100%;
  }
  .form-wrap {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.32);
background-color: #171715; border: solid #171715 1px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .form{
   height: 100%;
   padding-bottom:20px;
 }
}
@media(max-width: 414px){
	.owl-carousel .owl-dots{
		left: 46%;
	}
	.main, .main-slide{
		height: 720px;
	}
	.info .col-lg-7 {
		margin-top: 635px;
	 }
	 .form-wrap{
		padding: 5px;
	 }
	 .top-flex {
		justify-content: center;
  }

}
@media (max-width: 380px){
  .info .col-lg-7 {
    margin-top: 570px;
  }
}
@media(max-width: 375px){
	.tarifs-capt-block{
		margin-left: 4.4rem;
	}
	.tarifs-plan::after,
	.tarifs-plan::before {
  margin-left: -3.9rem;
}
}
@media(max-width: 360px){
	.tarifs-plan::after,
	.tarifs-plan::before {
  margin-left: -4.7rem;
}
.tarifs-capt-block {
	margin-left: 3.5rem;
}
}

@media (max-width: 330px){
  .info .col-lg-7 {
    margin-top: 600px;
  }
}
@media(max-width: 320px){
	.tarifs-capt-block {
		margin-left: 1.5rem;
  }
  .tarifs-plan::after,
  .tarifs-plan::before{
	width: 282px;
  }
  .tarif-cena-text{
	font-size: 22px;
  }
  .tarifs-plan{
	height: auto;
	padding-bottom: 1rem;
  }
}

.account-info input[type=text], .account-info input[type=password], .account-info textarea, .sweet-alert input[type=text], .sweet-alert input[type=password], .sweet-alert select, .sweet-alert textarea{
  padding: 1rem !important;
  border-radius: 5px;
}
.confirm{
  border: 1px solid #99B302 !important;
  color: white;
  padding: 13px 27px !important;
  text-transform: uppercase !important;
  text-decoration: none;
  border-radius: 0!important;
  font-size: 13px!important;
  background-color: transparent !important;
}
