.main_text{
    background-color: #000;
    padding-top: 151px;
    padding-bottom: 200px;

}
img.hands{
    width: 100%;
}
.phone_main{
    margin-top: -105%;

    width: 37%;
}
.blue_title{
    text-align: center;
    color: #4996ca;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.second_section{
    padding-top: 80px;
}
.image_second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gray_card{
    padding-top: 41px;
    padding-left: 38px;
    z-index: 29;
    padding-bottom: 40px;
    margin-top: 25px;
    width: 100%;
    background-color: #f4f4f4;
    padding-right: 38px;
}
/* a.btn-hollow:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #4490c3;
    transition: .4s all;
    opacity: .4;
} */
/* a.btn-hollow:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #4490c3;
    transition: .4s all;
    opacity: .4;
}
a.btn-hollow{
    border: 1px solid #4490c3;
    transition: .4s all;
    color: #4d9cd0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    padding: 24px 39px;
} */
.gray_card p{
    font-size: 18px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 45px;
}
.main_ios{
    z-index: 35;
    margin-top: -50px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-lg-6 h2.main-title{

    color: #4996ca;
    font-size: 30px;
    font-weight: 700;
}
/* li.default a{
    font-size: 16px;
} */

p.main{
    border-left: 1px solid #4996ca;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.third_section{
    padding-top: 80px;
}
.black_title{
    text-align: center;
}
.circle_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border: 2px solid #4996ca;
    border-radius: 50%;
}
.circle_image img{

}
.third_section .col-lg-3{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third_section{
    padding-bottom: 20px;
}
.fourth_section{
    margin-top: 78px;
    padding-top: 75px;
    background-color: #f4f4f4;
    padding-bottom: 76px;
}

.fourth_section .black_title{
    margin-bottom: 40px;
}
.fifth_section .black_title{
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.fifth_section .blue_text{
    margin-bottom: 69px;
    color: #4996ca;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.fifth_section .col-lg-6:nth-child(1){
    align-items: center;

}
.props{
    width: 100%;
    border-radius: 50%;
    text-align: right;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    align-items: center;
    color: #423d3a;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    z-index: 1;
    margin-top: 15px;
	 padding-bottom: 50px;
	 /* display: flex;
    justify-content: center;
    align-items: center; */
}

.props div{

    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    right: -20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    color: #4996ca;
    font-size: 50px;
    font-weight: 800;
    line-height: 36px;
	 text-transform: uppercase;
	 top: 0;

}


.text-center{
    text-align: center;
}
a{
    color: inherit;
}

footer {
    margin: 0;
    padding: 0;
}
/* .top-navbar-wrapper {
    z-index: 99;
} */
.main {
    padding-top: 151px;
    padding-bottom: 46px;
    background-color: #000000;
}
.main-ios {
    z-index: 35;
    margin-top: -120px;
    max-width: 100%;
}
.main-phone {
    margin-left: 6%;
    margin-top: -105%;
    width: 37%;
}
.main-bg {
    width: 100%;
}
.main h2 {
    color: #4996ca;
    font-size: 30px;
    font-weight: 700;
}
.main p {
    border-left: 1px solid #4996ca;
    padding-left: 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
/* .top-flex {
    justify-content: space-between;
    width: 100%;
} */
/* .top-navbar-wrapper {
    position: fixed;
    z-index: 99;
}
.top-navbar-wrapper img {
    margin-left: -15px;
}
.block-phones {
    margin-right: -20px;
}
.block-phones label {
    margin-bottom: 0;
} */
.second {
    z-index: 29;
    padding-top: 80px;
}
.second-right {
    padding-top: 41px;
    padding-left: 38px;
    background-color: #f4f4f4;
    z-index: 29;
    position: absolute;
    right: 0;
    text-align: left;
    width: 60%;
    top: 820px;
    padding-bottom: 60px;
}
.second img {
    width: 100%;
}
.second h2 {
    color: #4996ca;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.second p {
    font-size: 18px;
    line-height: 36px;
    font-weight: 800;
    margin-bottom: 45px;
}
.second a {
    color: #4d9cd0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #4d9cd0;
    padding: 24px 39px;
}
.third {
    margin-top: 70px;
}
.third-image {
    display: inline-block;
    width: 115px;
    height: 115px;
    border: 2px solid #4996ca;
    border-radius: 50%;
}
.fourth .mobile-slider {
    position: absolute;
    opacity: 0;
}
.fourth .mobile-slider .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/prev-arrow.png) center no-repeat;
    background-size: 100%;
}
.fourth .mobile-slider .prev:active {
    outline: none;
    border: none;
    text-decoration: none;
}
.fourth .mobile-slider .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/next-arrow.png) center no-repeat;
    background-size: 100%;
}
.fourth .mobile-slider .mobile-item img {
    display: inline-block;
}
.third .types-item {
    text-align: center;
}
.third .types-item img {
    transform: translateY(20px);
    text-align: center;
    display: inline-block;
}
.third .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/prev-arrow.png) center no-repeat;
    background-size: 100%;
}
.third .prev:active {
    outline: none;
    border: none;
    text-decoration: none;
}
.third .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/next-arrow.png) center no-repeat;
    background-size: 100%;
}
.third h1 {
    margin-bottom: 55px;
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.third h3 {
    margin-top: 35px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.fourth {
    margin-top: 78px;
    padding-top: 75px;
    background-color: #f4f4f4;
    padding-bottom: 76px;
}
.fourth h2 {
    margin-bottom: 65px;
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.fourth .icons-slider .icons-item {
    margin-right: 0px;
}
.fourth .icons-slider .icons-item-1 {
    text-align: center;
}
.fourth .icons-slider .icons-item-2 {
    text-align: center;
}
.fourth .icons-slider .icons-item-3 {
    text-align: center;
}
.fourth .icons-slider img {
    display: inline-block;
}
.fourth .icons-slider .prev-1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/prev-arrow.png) center no-repeat;
    background-size: 100%;
}
.fourth .icons-slider .prev-1:active {
    outline: none;
    border: none;
    text-decoration: none;
}
.fourth .icons-slider .next-1 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
    width: 4rem;
    height: 4rem;
    border: none;
    background: url(../img/next-arrow.png) center no-repeat;
    background-size: 100%;
}
.fifth {
    padding-top: 82px;
    padding-bottom: 82px;
}
.fifth h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.fifth h2 {
    margin-bottom: 69px;
    color: #4996ca;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.circle-first {
    margin-left: 20px;
}
.fifth-block {
    min-width: 400px;
    display: block;
    z-index: 30;
    float: right;
}
.fifth-block h4 {
    display: inline-block;
    color: #423d3a;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}
.fifth-block .circle {
    margin-top: 3px;
    margin-left: 39px;
    display: inline-block;
    width: 147px;
    height: 147px;
    background-color: #fff;
    border-radius: 50%;
}
.fifth-block span {
    margin-top: 59px;
    color: #4996ca;
    font-size: 50px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    display: inline-block;
}
.fifth img {
    z-index: 1;
    margin-left: 45%;
    margin-top: -500px;
}
.sixth {
    background-color: #f4f4f4;
    padding-top: 80px;
}
.sixth-title {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.sixth-subtitle {
    color: #4996ca;
    font-size: 25px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}
.sixth-text {
    color: #424242;
    margin-bottom: 80px;
}
.sixth h4 {
    color: #060706;
    font-size: 20px;
    font-weight: 800;
}
.sixth p {
    color: #060706;
    font-size: 14px;
	 font-weight: 500;
	 height: 95px;
}
.sixth img {
    margin-bottom: 24px;
    display: inline-block;
}
.seventh {
    padding-top: 80px;
    padding-bottom: 80px;
}
.seventh h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.seventh-block {
    position: absolute;
    left: 17.5em;
	top: 4em;
}
.seventh-block-boy {
	left: 17.5em;
	top: 4em;
}
.seventh-block img {
    display: inline-block;
}
.seventh-block span {
    display: inline-block;
    color: #4996ca;
    font-size: 34px;
    font-weight: 400;
}
.seventh h3 {
    color: #4996ca;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}
.seventh h4 {
    color: #4996ca;

    font-size: 25px;
    font-weight: 800;
}
.seventh .pie {
    display: inline-block;
    margin: .5em;
    width: 14.5em;
    left: 7em;
    height: 14.5em;
    position: relative;
    border-radius: 50%;
}
.seventh .pie:before {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    left: .3em;
    top: .4em;
    height: 13.8em;
    width: 13.8em;
}
.seventh .pin {
    display: inline-block;
    margin: .5em;
    width: 13.2em;
    height: 13.2em;
    position: relative;
    border-radius: 50%;
    top: -0.6em;
    left: -8.1em;
}
.seventh .pin:before {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    left: 0.1em;
    top: .09em;
    height: 13em;
    width: 13em;
}
.seventh .pit {
    display: inline-block;
    margin: .5em;
    width: 13.2em;
    height: 13.2em;
    position: relative;
    border-radius: 50%;
    top: -0.6em;
    left: -8.1em;
}
.seventh .pit:before {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    left: 0.1em;
    top: .09em;
    height: 13em;
    width: 13em;
}
.seventh .p1 {
    background-image: linear-gradient(180deg, transparent 50%, #4682b4 50%), linear-gradient(90deg, #d7d8da 50%, #4996ca 0%, #8ac3ea 100%);
}
.seventh .p2 {
    background-image: linear-gradient(190deg, transparent 50%, #4682b4 50%), linear-gradient(90deg, #d7d8da 25%, #4996ca 0%, #8ac3ea 100%);
}
.seventh .p3 {
    background-image: linear-gradient(180deg, transparent 50%, #4682b4 50%), linear-gradient(90deg, #ffffff 50%, #4996ca 0%, #8ac3ea 100%);
}
.seventh .p4 {
    background-image: linear-gradient(190deg, transparent 50%, #4682b4 50%), linear-gradient(90deg, #ffffff 25%, #4996ca 0%, #8ac3ea 100%);
}
.phone-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.phone-block span {
    color: #e9e9e7;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
}
.phone-block img {
    margin-top: 10px;
    margin-right: 16px;
}
.before-footer {
    padding-bottom: 30px;
    width: 100%;
    padding-top: 80px;
    background-color: #060606;
}
.before-footer-form {
    padding-bottom: 35px;
    padding-top: 42px;
    background: url(../img/form-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.before-footer-form button {
    height: 62px;
    width:240px;
    border: 1px solid #4d9cd0;
    color: #4d9cd0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s;
}
.before-footer-form button:hover {
    color: #fff;
    border: 1px solid #4d9cd0;
    border-radius: 5px;
}
.before-footer input {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 84%;
    border: 1px solid #f2f1f1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}
.before-footer input::placeholder{
    color: #fff;
}
.before-footer h2 {
    color: #4996ca;
    font-size: 20px;
    font-weight: 700;
}
.before-footer p {
    display: inline-flex;
    margin-top: 40px;
    margin-right: 15px;
    text-align: left;
    color: #f0ebe8;
    font-size: 16px;
    font-weight: 400;
}
.before-footer img {
    float: left;
    display: inline-block;
}
.before-footer .phones-block {
    color: #e9e9e7;
    font-size: 25px;
    font-weight: 400;
    padding-top: 3rem;
    text-align: right;
    display: inline-block;
}
.before-footer .phones-block-2 {
    margin-right: 16px;
}
.before-footer .phones-block a {
    display: inline-block;
}
.before-footer .phones-block:before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../img/call-answer.png) center no-repeat;
    margin-right: 25px;
}
.before-footer .phones-block-3:before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../img/placeholder.png) center no-repeat;
    margin-right: 25px;
}
.footer {
    background-color: #060606;
}
.footer .container{
    padding: 0;
}
.footer p {
    margin-bottom: 73px;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 29px;
}
.footer-social a {
    margin-left: 20px;
}
.footer-social .fb {
    margin-left: 0;
}
.footer h3 {
    display: inline-block;
    margin-top: 58px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.footer h3 span {
    color: #4996ca;
    text-transform: uppercase;
}
.footer img {
    display: inline-block;
}
@media (max-width: 1170px) {
    .second p {
        font-size: 15px;
    }
    .seventh {
        padding-top: 80px;
    }
    .seventh h2 {
        color: #000000;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .seventh-block {
        position: absolute;
        top: 4.4em;
        left: 14.5em;
    }
    .seventh-block-boy {
        left: 13.5em;
    }
    .seventh-block img {
        display: inline-block;
    }
    .seventh-block span {
        display: inline-block;
        color: #4996ca;
        font-size: 34px;
        font-weight: 400;
    }
    .fourth .icons-item-1 {
        text-align: center;
    }
    .modal-content {
        width: 100%;
        min-width: 800px;
        min-height: 600px;
    }
    .modal.show .modal-dialog {
        width: 100%;
        transform: translate(-30%, 0);
    }
    .footer h3 {
        text-align: right;
    }
}
@media(max-width: 1024px){
	.props{
		width: 100%;
		border-radius: 0%;
		/* text-align: none; */
		padding-top: 25px;
		align-items: none;
		color: #423d3a;
		font-size: 20px;
		font-weight: 400;
		line-height: 36px;
		text-transform: uppercase;
		position: relative;
		left: 0px;
		z-index: 1;
		margin-top: 15px;
		padding-bottom: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
  }

  .props div{

		padding-top: 0px;
		padding-bottom: 0px;
		padding-right: 0px;
		right: auto;
		display: flex;
		justify-content: normal;
		align-items: normal;
		position: absolute;
		background-color: #fff;
		z-index: 1;
		border-radius: 50%;
		color: #4996ca;
		font-size: 50px;
		font-weight: 800;
		line-height: 36px;
		text-transform: uppercase;
		top: 81px;

  }

  .last-props{
	margin-bottom: 5rem;
}
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .second img {
        margin-left: -25px;
    }
    .second-right {
        top: 62em;
    }
    .fifth img {
        float: left;
    }
    .seventh {
        padding-top: 80px;
    }
    .seventh h2 {
        color: #000000;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .seventh-block {
        position: absolute;
        top: 4.4em;
        left: 10.5em;
    }
    .seventh-block-boy {
        left: 9.5em;
    }
    .seventh-block img {
        display: inline-block;
    }
    .seventh-block span {
        display: inline-block;
        color: #4996ca;
        font-size: 34px;
        font-weight: 400;
    }
    .seventh h4 {
        margin-top: -8em;
    }
    .seventh .pie {
        display: inline-block;
        margin: .5em;
        width: 14.5em;
        left: 0em;
        height: 14.5em;
        top: 0em;
        position: relative;
        border-radius: 50%;
    }
    .seventh .pie:before {
        border-radius: 50%;
        display: block;
        content: "";
        background: #fff;
        position: absolute;
        left: .3em;
        top: .4em;
        height: 13.8em;
        width: 13.8em;
    }
    .seventh .pin {
        display: inline-block;
        margin: .5em;
        width: 13.2em;
        height: 13.2em;
        position: relative;
        border-radius: 50%;
        top: -15.2em;
        left: -0.1em;
    }
    .seventh .pin:before {
        border-radius: 50%;
        display: block;
        content: "";
        background: #fff;
        position: absolute;
        left: 0.1em;
        top: .09em;
        height: 13em;
        width: 13em;
    }
    .seventh .pit {
        display: inline-block;
        margin: .5em;
        width: 13.2em;
        height: 13.2em;
        position: relative;
        border-radius: 50%;
        top: -15.2em;
        left: -0.1em;
    }
    .seventh .pit:before {
        border-radius: 50%;
        display: block;
        content: "";
        background: #fff;
        position: absolute;
        left: 0.1em;
        top: .09em;
        height: 13em;
        width: 13em;
    }
    .lamp {
        max-width: 100%;
    }
    .mobile-btn {
        display: block;
    }
    .desktop-btn {
        display: none;
    }
    .modal-content {
        width: 100%;
        min-width: 800px;
        min-height: 600px;
    }
    .modal.show .modal-dialog {
        width: 100%;
        transform: translate(-30%, 0);
    }
    .fifth h4 {
        color: #000;
        font-weight: 700;
    }
    .fifth img {
        float: none;
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    /* .top-flex{
        justify-content: center;
    } */
    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .main p {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
    .fourth .mobile-slider {
        opacity: 1;
        position: relative;
    }
    .fourth .icons-slider {
        display: none;
    }
    .fifth h4 {
        color: #4996ca;
        font-weight: 700;
    }
    .fifth img {
        float: none;
        margin-left: 0;
    }
    .seventh p {
        margin-bottom: 20px;
    }
    .second-right {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .second img {
        display: inline-block;
        width: 60%;
    }
    .before-footer h2 {
        margin-top: 30px;
        font-size: 20px;
    }
    .footer p {
        margin-bottom: 0;
	 }

	 .seventh-block{
		left: 23em;
	 }
}
@media (max-width: 600px) {
    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .fifth h4 {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
    }
    .main h1 {
        font-size: 25px;
    }
    .main p {
        font-size: 15px;
    }
    .fourth-block .slick-prev {
        left: 40%;
        transform: translateX(-50%);
        top: 100px;
    }
    .fourth-block .slick-next {
        right: 40%;
        transform: translateX(50%);
        top: 100px;
    }
    h2 {
        font-size: 21px;
    }
    h2 span {
        font-size: 18px;
    }
    .phone-block span {
        font-size: 18px;
    }
    /*  .top-navbar-wrapper {
        display: none;
      }*/
    .before-footer img {
        display: none;
    }
    .before-footer a {
        text-align: center;
        display: block;
    }
}
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
/* .mobile-menu-right {
    position: fixed;
    top: 90px;
    bottom: 0;
    overflow: auto;
    width: 200px;
    height: 5rem;
    transition: .5s all;
    right: -200px;
    background: #4996ca;
}
.mobile-menu-right a{
    margin-bottom: 5px;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #fff;
}
.mobile-menu-right p{
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #fff;
} */
/* .mobile-menu-right.active-mobile-menu-right {
    overflow: hidden;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    right: 0;
    z-index: 40;
    height: 120px;
} */
.drawer-list li a {
    color: #fff!important;
}
@media (min-width: 0px) and (max-width: 430px) {
    .fourth .mobile-slider .prev {
        width: 3rem;
        height: 3rem;
    }
    .fourth .mobile-slider .next {
        width: 3rem;
        height: 3rem;
    }
    .fifth {
        padding-bottom: 0;
    }
    .fifth h4 {
        font-size: 12px;
    }
    .fifth img {
        margin-top: -50em;
    }
    .fifth .circle {
        width: 100px;
        height: 100px;
    }
    .fifth .circle span {
        margin-top: 35px;
    }
}
@media (min-width: 0px) and (max-width: 496px) {
    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .seventh-block {
        left: 45%;
    }
    .seventh-block-boy {
        left: 40%;
    }
    .seventh h4 {
        margin-top: -180px;
    }
    .seventh .pie {
        display: inline-block;
        margin: .5em;
        width: 14.5em;
        left: 1em;
        height: 14.5em;
        position: relative;
        border-radius: 50%;
    }
    .seventh .pin {
        display: inline-block;
        margin: .5em;
        width: 13.2em;
        height: 13.2em;
        position: relative;
        border-radius: 50%;
        top: -15.2em;
        left: 1em;
    }
    .seventh .pit {
        display: inline-block;
        margin: .5em;
        width: 13.2em;
        height: 13.2em;
        position: relative;
        border-radius: 50%;
        top: -15.2em;
        left: 1em;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .fifth {
        padding-bottom: 0;
    }
    .fifth img {
        margin-top: -24em;
    }
    .fifth .circle {
        width: 100px;
        height: 100px;
    }
    .fifth .circle span {
        margin-top: 35px;
    }
    .main h1 {
        font-size: 20px;
    }
    .main p {
        font-size: 13px;
    }
}
@media (min-width: 0px) and (max-width: 343px) {
    .fifth {
        padding-bottom: 0;
    }
    .fifth img {
        margin-top: -33em;
    }
    .fifth .circle {
        width: 100px;
        height: 100px;
    }
    .fifth .circle span {
        margin-top: 35px;
    }
}

@media(max-width: 414px) {
	.main_ios {
		margin-top: -32px;
  }
}
