/* Fixing Slider othttps://www.a-lux.kz/otzyvy.html page */

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    pointer-events: none;
}

@media (min-width: 576px) {


    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

.main_setting {
    padding-top: 43px;
}

.range {
    width: 100%;
    height: 9px;

    border-radius: 23px;
}
.logo_main{
  width:80%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.previous_arrow {
    min-width: 46px;
    height: 46px;
    margin-left: 23px;
    margin-right: 23px;
    /* background: #F0F0F0; */
    /* border-radius: 65px; */
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background: transparent;
}

.test_block.active {
    display: block;
}

.test_block {
    display: none;
    padding: 0 !important;
}

.close {
    font-size: 3rem;
}

.next_button {
    /* background: linear-gradient(90deg, #456FFF -15.22%, #003AFF 150%), #3A66FF; */
    /* background: #F0F0F0; */
    /* box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53); */
    background: #4D9CD0;
    /* border-radius: 65px; */
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 12px; */
    /* line-height: 14px; */
    border: none;
    padding: 16px 40px;
    align-items: center;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s all;
    outline: none;
    /* color: #FFFFFF; */
    /* color: #000; */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer !important;
}

.next_button:hover {
    box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53);
}

.modal-content {
    border-radius: 12px 12px 0px 0px;
}

.choose_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.modal-dialog {
    max-width: 800px;
    border-radius: 10px;
}

.choose_button.active {
    /* background: #4670FF; */
    /* box-shadow: 3px 6px 17px rgba(59, 103, 255, 0.4); */
    /* border-radius: 11px; */
    /* color: #fff; */
    border: 1px solid #4D9CD0;
    outline: none;
    transition: 0.5s all;
    position: relative;
}

.choose_button.active::before {
    content: '';
    position: absolute;
    background: url(/img/check-icon.svg);
    width: 24px;
    height: 24px;
    top: 20px;
    right: 12px;
}

.choose_button.active:hover {
    /* background: #4168ec; */
}

.choose_content button {
    outline: none;
    padding: 20px 40px 20px 15px;
    background: #F0F0F0;
    /* border-radius: 11px; */
    width: 100%;
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 16px; */
    /* line-height: 19px; */
    transition: 0.5s all;
    text-align: left;
    /* color: #2E2E2E; */
    /* border-radius: 11px; */
    border-width: 0px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: 0 1 49%;
}

.choose_content button:hover {
    background: #ddd;
}

.modal-header {
    /* background: linear-gradient(0deg, #F0F0F0, #F0F0F0), #3A66FF; */
    /* border-radius: 12px 12px 0px 0px; */
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: bold; */
    /* font-size: 12px; */
    /* line-height: 14px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-transform: uppercase; */
    background: #4D9CD0;
    color: #535353;
    padding: 10px 40px 10px 105px;
}

.modal-subtitle-window {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 492px;
}

.horizontal-position-modal-item {
    display: flex;
}

.btn-price {
    background: linear-gradient(90deg, #456FFF 47.76%, #003AFF 101.35%), #3A66FF;
    box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53);
    border-radius: 65px;
    position: fixed;
    border: none;
    right: 100px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    bottom: 15px;
    outline: none;

}

.modal-body h3 {
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* identical to box height */
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 15px 30px;
}

.modal-title {
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal-title::before {
    content: "";
    position: absolute;
    left: -85px;
    top: 0;
    background: url(/img/google-forms.svg);
    width: 65px;
    height: 65px;
}

.test_block h3 {
    font-size: 20px;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
}

.close {
    border: none;
    margin-left: auto;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade {
    transition: opacity .15s linear;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.header_logo img {
    max-height: 50px !important;
}

.hidden-menu {
    display: none;
}

.top-menu .hidden-menu.dropdown-hidden {
    display: block !important;
}

.header_slider_text_white,
.header_slider_text_blue {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#packeman {
    width: 700px !important;
}

.answer-input {
    outline: none;
    padding: 20px 20px;
    background: #F0F0F0;
    /* border-radius: 11px; */
    width: 100%;
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 16px; */
    /* line-height: 19px; */
    transition: 0.5s all;
    text-align: left;
    /* color: #2E2E2E; */
    /* border-radius: 11px; */
    border-width: 0px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: inherit;
    box-shadow: none;
    min-height: 77px;
}

.answer-input:focus::placeholder {
    color: transparent;
}

.style-form-width {
    width: 49%;
}

@media(max-width: 1024px) {
    .block-phones {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
}

@media(max-width: 768px) {
    .block-phones {
        display: flex;
        flex-direction: column;
        width: auto;
              align-items: flex-end;
              padding-right: 2rem;
    }
}

@media(max-width: 414px) {
    .choose_content {
        flex-direction: column;
        justify-content: normal;
    }

    .style-form-width {
        width: 100%;
    }

    .modal-subtitle-window {
        width: 100%;
    }

    #packeman {
        width: 100% !important;
    }

    .block-phones {
        display: none;
    }
}
.carousel .item img {

}
.carousel .partners-main-carousel .item {
  height: 100%;
}
@media (min-width: 1170px){
  header.header {
    height: initial;
    padding-bottom: 40px;
  }
}
@media (max-width: 620px){
  header.header {
    height: initial;
    padding-bottom: 0px;
  }
}


.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
	content: "";
	width: 15px;
	height: 10px;
	background: url(/pictures/ico-str00.png) center center no-repeat;
	display: block;
    position: absolute;
    right: 10%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; }
.drawer-list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  transform: translate(-100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 95px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-right-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8);
}
@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 1em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-size: calc(24px - .5vw);
  display: block;
  font-weight: 500;
}
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: .5rem;
  }
}
@media (max-width: 500px) {
  .drawer-list {
    width: 70vw;
  }
  .drawer-list li a {
	font-size: calc(20px - .5vw);
  }
  .dropdown input + ul li a {
    font-size: calc(17px - .5vw);
  }
}
.drawer-list li a:hover {
  cursor: pointer;
  background-color: #88c2f8;
  background-color: rgba(17, 132, 240, 0.5);
}

input.hamburger {
  display: none;
}
input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
  color: #fff;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(315deg);
  top: 0px;
}
input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 0px;
}
input.hamburger:checked ~ label close {
  color: #FEFEFE;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: transparent;
  width: 0;
}

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 40px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
  color: transparent;
  width: 0;
  left: 0;
}
label.hamburger text open {
  color: #FEFEFE;
  width: 100%;
  left: 0;
}
label.hamburger > i {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
  top: 4px;
}
label.hamburger > i:before {
  transform: translate(-50%, -14px);
}
label.hamburger > i:after {
  transform: translate(-50%, 14px);
  top: -4px;
}
label.hamburger {
  position: fixed;
  top: 30px;
  left: 15px;
  /* background: #4996ca; */
  /* background: rgba(12, 106, 194, 0.8); */
  background: rgb(255 255 255 / 15%);
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  transition: .3s all .3s;
}
label.hamburger{
  display: none;
}
/* ХАК VIEW */

.comp-view { display: block; }

.mob-view { display: none; }

content.mob-view {
	z-index:999;
    position: fixed;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 767px) {
  .top-flex{
    justify-content: center
  }
.mob-view { display: block; width: 100%;}

.comp-view { display: none; }
}
@media only screen and (max-width: 767px){}
label.hamburger {
    display: block;
}
