h3 {
    margin: 0;
}
.first_screen{
    padding-top: 90px;
    height: 510px;
    background: linear-gradient(90deg, #000000 40.03%, rgba(0, 0, 0, 0.61) 49.89%, rgba(0, 0, 0, 0) 122.31%),url(https://i1.wp.com/www.journoresources.org.uk/wp-content/uploads/2020/01/marvin-meyer-SYTO3xs06fU-unsplash-e1580346072570.jpg?resize=768%2C336&ssl=1);
    background-size: cover;
}
.d-flex{
    display: flex !important;

}
.circle{
    width: 357px;
    height: 357px;
    padding:80px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 50%;
}
.sm_circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.16);
}
.text_center{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;

    color: #FFFFFF;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_screen{

    background: #121212;
    padding: 20px 0px;
}
.second_screen  .d-flex{
    align-items: center;
}
.offer_text{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.divider{
    margin-right: 41px;
    margin-left: 50px;
    height: 0px;
    border: 1px solid #393939;
    width: 106px !important;
}
.content_menu{
    display: flex;
    align-items: center;
}
@media(max-width: 576px) {
    .content_menu {
        display: flex;
        align-items: initial;
        width: 38rem;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    .divider {
        display: none;
    }
}
.content_menu a{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-right: 40px;
}
a{

}
.content_menu span{
    margin-right: 30px;
    border: 1px solid #fff;
    height: 0px;
}
.image_block>div{
    width: 55px;
    height: 7px;
    margin-top: 13px;
    background: #0070F3;
}

/* .third_screen{

    padding-bottom: 102px;
} */

.third_screen .col-lg-4{
    margin-top: 86px;

}
.third_screen .col-lg-4:hover{
    cursor: pointer;
}
.third_screen .col-lg-4>button{
    background: #0070F3;
    box-shadow: 10px 10px 20px rgba(87, 164, 255, 0.49);
    border-radius: 8px;
    border:none;
    transition: .5s ease;
    display: none;
    width: 142px;
    height: 29px;
    margin: 0 auto;
    margin-top: 17px;
    color: #FFFFFF;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

}
button.active{
    display: block !important;
}
.third_screen .col-lg-4>h5{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px !important;
    width: 200.53px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;

    color: #525457;
}
.image_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li.default a{
    color: #fff !important ;
}
.fourth_screen{
    background: linear-gradient(270deg, #FFFFFF 45.29%, rgba(255, 255, 255, 0) 62.28%),url(georgie-cobbs-muOHbrFGEQY-unsplash.png);
    /* height: 405px; */
    padding-top: 33px;

}
body{
    background: #ECECEC;
}
.third_text h3{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    color: #2E2E2E;
}
.third_screen .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    display: none;
}


.third_text h3 span{
    color: #0070F3;
}
.third_text{
    padding-bottom: 35px;
}
.icon_field{
    width: 91px;
    height: 91px;
    box-shadow: 10px 15px 30px rgba(87, 164, 255, 0.27);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0070F3;
    margin-bottom: 27px;

}
.sixth_screen{
    padding-top: 80px;
    padding-bottom: 56px;
}
.actions h3 span{
    color: #0070F3;
}
.actions p{
    width: 420px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #898989;
}
.sixth_screen hr{
    margin-top: 60px;
    border: 1px solid #DDDDDD;

}
.seventh_screen{
    padding-bottom: 55px;
}
.seventh_screen h1{
    font-style: normal;
    font-weight: 800;
    font-size: 125px;
    line-height: 83.84%;
    /* identical to box height, or 105px */


    color: #000;
}
.seventh_screen h1 span{
    color: #0070F3;

    text-shadow: 20px 10px 45px rgba(87, 164, 255, 0.45);
}
.seventh_screen .row{
    display: flex;
    align-items: center;
}
.text_seven p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 114.34%;
    /* or 21px */


    color: #2E2E2E;
}
.text_seven p span{
    color: #0070F3 ;
}

.actions p span{
    color: #000;
}
.third_text p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #898989;
}

.card{
    background: #F1F2F2;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 39px 45px 41px 52px;
}
.card h5{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 114.34%;
    /* or 18px */


    color: #2E2E2E;
}
.eighth_screen{
    padding-bottom: 51px;
}
.card p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
    color: #898989;
}
/* .card p:before{
    content: '';
    position: absolute;
    width: 39px;
    left: 15px;
    margin-top: 10px;
    border: 1px solid #0070F3;
} */
.card p:before {
    content: '';
    position: absolute;
    width: 25px;
    left: 29px;
    margin-top: 15px;
    border: 1px solid #0070F3;
}
.card button{
    background: #0070F3;
    box-shadow: 10px 10px 20px rgba(87, 164, 255, 0.49);
    border-radius: 8px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    border: none;
    height: 49px;

    margin-top: 37px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    color: #FFFFFF;
}


.pointer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.props_guide{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    margin-top: 20px;
}

.props_guide p{
    margin-left: 22px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #898989;
}
.nineth_screen{
    padding-top: 52px;
    background: linear-gradient(270deg, #F1F2F2 69.6%, rgba(241, 242, 242, 0) 74.85%);
    padding-bottom: 48px;


}
.nineth_screen .d-flex button{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    background: #0070F3;
    box-shadow: 10px 10px 20px rgba(87, 164, 255, 0.49);
    border-radius: 8px;
    margin-right: 25px;
    border: none;
    width: 100px;
    height: 27px;
}
.nineth_screen .d-flex{
    margin-bottom: 34px;
}
.nine_text p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
	 width: 32rem;
    color: #898989;
    margin-bottom: 30px;
}
.nine_text button{
    background: #0070F3;
    box-shadow: 10px 10px 20px rgba(87, 164, 255, 0.49);
    border-radius: 8px;

    width: 300px;
    height: 49px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    border: none;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer_black{
    padding-top: 68px;
    padding-bottom: 63px;
    background: #121212;
}

.footer_props{
    align-items: center;
    justify-content: center;
}
.footer_props p{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 31px;

    color: #FFFFFF;
    margin-left: 35px;

}
@media only screen and (max-width: 991px){
    .nav_item_bar{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
    .content_menu{
        flex-direction: column
    }
    .seventh_screen .row{
        flex-direction: column
    }
    .sm_circle{
        display: none !important;
    }
    .circle{
        padding: 0;
        height: auto;
        width: auto;
    }
    .first_screen .container{
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .first_screen .content{
        text-align: center;
        justify-content: center
    }
}
@media only screen and (max-width: 480px){
    .seventh_screen h1{
        font-size: 60px;
    }
    .actions p{
        width: 100%;
    }
    .pointer{
        flex-direction: column
    }
    .pointer
    .props_guide{
        width: 100%;
    }
    .size-images-about{
        display: none
    }
    .screen_card{
        margin-top: 10px
    }
    .footer_props{
        text-align: left;
        align-items: unset;
        justify-content: unset
    }

    .third_screen
    .inner{
        padding-left: 0px;
        display: inline-block ;
        padding-right: 0px;
    }
    .actions p{
        width: 100%;
    }
    .nine_text{
        text-align: center
    }
    .nine_text
    h3{
        text-align: center
    }
    .nine_text
    p{
        width: 100%;
        text-align: justify
    }
    .nine_text button{
        margin: 0 auto;
    }

}
.hands_with_hat {
    position: relative;
    top: -25px;
    right: 50px;
}

.size-images-about img {
    width: 100%;
}

.stylized {
    display: flex;
    align-items: center;
}
.sixth_screen_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.sixth_screen_column {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}
@media(max-width: 577px) {
    .sixth_screen_column {
        flex: 0 1 100%;
        margin: 7px 0;
    }
}
@media(max-width: 769px) {
    .d-flex {
        align-items: center;
        justify-content: center;
    }
    .nine_text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nineth_screen {
        background: linear-gradient(#F1F2F2 69.6%, rgba(241, 242, 242, 0) 74.85%);
    }
}
