@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;

    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

.visible {
    display: block !important;
}
