/*********************************************************************** FIRST SECTION ***************************************************************/
.whatsapp { background:url(/images/whatsapp.png) center center no-repeat; background-size: 100%; width: 50px; height: 50px; position: fixed; bottom: 10px; right: 10px;
    z-index: 999; }
.whatsapp a { display: block; width: 100%; height: 100%;
    position: relative;
    z-index: 999; }
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #44bb6e;width:80px;height:80px;bottom:-15px;left:-15px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#44bb6e;width:50px;height:50px;bottom:-2px;left:-2px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


.center-pos-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu ul li a:hover {
    text-decoration: none;
}
.block-phones span {
    color: #4996ca;
    font-family: Roboto,sans-serif;
    font-size: 14px
}
.block-phones a {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 14px
}
.block-phones .f-phone {
    display: block;
    background: url(../images/phone-call.png) center center no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
}
.contacts-main-block.block-text { display:none; }
.mobile-button {
    width: 45px;
    height: 36px;
    cursor: pointer;
    position: fixed;
    left: 15px;
    padding: 11px 10px;
    /* bottom: 0px; */
    top: 33px;
    background: #218ca7;
    z-index: 50;
    border-radius: 5px;
    transition: .3s all .3s; }
.mobile-button .icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: .3s top .3s, 0s opacity 0s, .3s transform .0s;
    position: relative;
    top: 0;
    opacity: 1;
    transform: rotate(0deg);
    left: 0;
    background: #fff; }
.mobile-button .icon-bar + .icon-bar {
    margin-top: 4px; }
.mobile-button.open {
    background: transparent; }
.mobile-button.open .icon-bar {
    transition: .3s top 0s, 0s opacity .3s, .3s transform .3s;
    background: #303030; }
.mobile-button.open .icon-bar:nth-child(1) {
    top: 6px;
    transform: rotate(45deg); }
.mobile-button.open .icon-bar:nth-child(2) {
    opacity: 0; }
.mobile-button.open .icon-bar:nth-child(3) {
    top: -6px;
    transform: rotate(135deg); }
#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 270px;
    transition: .5s all;
    left: -270px;
    background: #fff; }
#mobile-menu .mobile-menu-inner {
    position: absolute;
    top: 60px;
    bottom: 20px;
    right: 0;
    left: 0;
    padding-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 20;
    text-align: center; }
#mobile-menu .mobile-menu-inner .top-menu {
    position: relative; }
#mobile-menu .mobile-menu-inner .top-menu > ul > li.has-child:after {
    top: 25px;
    right: 20px; }
#mobile-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    margin-top: 15px;
    display: block;
    background-color: transparent; }
#mobile-menu ul li {
    text-align: left;
    padding: 10px 10px;
    border-left: 2px solid transparent;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0; }
#mobile-menu ul li.open ul {
    max-height: 200vh; }
#mobile-menu ul li.active:before {
    display: none; }
#mobile-menu ul li.active > a {
    color: #fff; }
#mobile-menu ul li ul {
    max-height: 0px;
    position: relative;
    box-shadow: none;
    padding: 0;
    margin: 0; }
#mobile-menu ul li ul li {
    padding: 0 15px;
    text-transform: none;
    margin: 15px 0;
    text-indent: 0; }
#mobile-menu ul li ul li a {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    display: block; }
#mobile-menu ul li ul li.active {
    background-color: #fff;
    border-left: 4px solid #4490c3; }
#mobile-menu ul li:hover ul, #mobile-menu ul li.active ul {
    max-height: 200vh; }
#mobile-menu ul li a {
    color: #303030;
    font-size: 1.14286em;
    padding: 0 10px;
    line-height: 1.5;
    background-color: transparent;
    position: relative; }
#mobile-menu.open {
    display: block;
    left: 0;
    z-index: 20; }
.mobile-menu-overlay {
    display: none;
    transition: 0s all 0s, .3s opacity .1s;
    opacity: 0; }
.mobile-menu-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    opacity: .5;
    overflow: hidden;
    z-index: 3; }
body.open {
    overflow-y: hidden;
    overflow-x: visible; }
@media (max-width: 770px) {
    .portfolio-desc {
        margin: 0;
        padding: 0 20px; }
    .portfolio-changer {
        margin: 20px 0;
        text-align: right; }
    .portfolio-cats-item {
        padding: 7px 7px; }
    .portfolio-changer-btn.btn-hollow, .portfolio-changer-btn.services-item-btn {
        position: relative;
        top: 0; }
    #mobile-menu .top-flex {
        flex-wrap: wrap;
        flex-direction: column; }
    #mobile-menu .btn-hollow, #mobile-menu .services-item-btn {
        order: 1;
        align-self: center;
        color: #4490c3; }
    #mobile-menu .top-menu {
        order: 0;
        width: 100%; }
    #mobile-menu .top-menu li {
        line-height: 1;
        padding: 5px 10px; }
    .top-slogan {
        font-size: 32px;
        text-align: center; }
    .benefits-item {
        height: auto; }
    .benefits-item-arrow {
        display: none; }
    .services-main {
        flex-wrap: wrap; }
    .benefits-item-content {
        flex-wrap: wrap;
        justify-content: center; }
    .benefits-item-icon {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px; }
    .benefits-item-text {
        padding-right: 0;
        text-align: justify; }
    .benefits-item-text h3 {
        text-align: center;
        margin-bottom: 15px; }
    .about-main-footer a {
        margin-bottom: 15px; }
    .about-text {
        padding: 0;
        margin: 0 -15px; }
    .benefits-main-block {
        padding-top: 30px; }
    .about-main-footer {
        flex-wrap: wrap;
        justify-content: space-around; }
    .partners-flex {
        flex-wrap: wrap; }
    .partners-main-title {
        width: 100%;
        padding: 15px 0; }
    .portfolio-cats-item {
        width: 123px; }
    .partners-main-carousel {
        width: 100%; }
    .testi-main-block {
        font-size: 14px; }
    .benefits-item-text p {
        line-height: 1.5; }
    .testi-carousel {
        margin: 0 -15px; }
    .benefits-item-tracker {
        display: none; }
    .testi-wrapper {
        padding: 3% 10%; }
    .partners-main-carousel {
        padding: 0 20px; }
    .benefits-item-tracker-end {
        display: none; }
    .partners-carousel .carousel-arrows.side {
        margin-top: 0px; }
    .services-item-btn, .services-item-btn {
        padding: 8px 14px; }
    .news-item {
        border-right: 0; }
    .portfolio-car .carousel-as-nav-inner {
        padding: 0 10%; }
    .portfolio-img {
        margin-top: 20px;
        padding: 0 20px 20px 20px; }
    .services-item {
        flex-basis: 50%;
        border-bottom: 1px solid #99bfd8; }
    .services-item:nth-child(2n) {
        border-right: 0; }
    .b-reviews-title{
        font-size: 12px;
        padding: 25px 0;
    }
    .b-header-slider__item__text{
        max-width: inherit;
        padding: 0 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
    }
    .b-services-content .row > div{
        flex-direction: column;
        align-items: center;
    }
    .top-two{
        height: auto;
    }
    .b-services-slider__item__text{
        padding: 24px 10px;
    }
    .b-portfolio .row > div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .b-portfolio-item{
        width: auto;
    }
}
@media (max-width: 650px) {
    .portfolio-grid-item {
        width: 350px; }
    .portfolio-flex {
        justify-content: space-around; } }
@media (max-width: 560px) {
    .top-cont-row .top-cont-tel {
        display: block;
        margin-bottom: 10px;
        margin-top: 5px; }
    .portfolio-cats-list {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 25px;
        padding-top: 25px; }
    .portfolio-cats {
        overflow: hidden;
        overflow-x: auto; }
    .top-flex {
        justify-content: space-around; }
    .top-header {
        padding: 10px 0 10px 0; }
    .top-search-block {
        margin-left: 10px; } }
@media (max-width: 480px) {
    .news-main-block {
        display: none;
    }
}
@media (max-width: 358px) {
    .top-logo img {
        top: 0;
        margin-bottom: 10px; }
    .top-menu ul li {
        padding: 10px 9px 14px;
        font-size: 1em; }
    .carousel-item-caption h1 {
        font-size: 2em;
        margin-bottom: .5em; }
    .carousel-item-caption h1 .md {
        font-size: 0.8em; } }
.slider-sinlge .slick-dots{
    bottom: -196px;
}
#how-works h3, #whyus h3,#getfollowers .caption-text h3,#getfollowers .caption-text .untitle,
#audienceinsta .caption-text h3, #audienceinsta .audiencestatics .information-content p,
#criteries .caption-text h3, #criteries .caption-text p, #ourpartners .caption-text h3{
    font-weight: 700 !important;
}

#getfollowers .caption-text .subtitle, .set-text{
    font-family: "Lato", sans-serif !important;
    font-weight: 500 !important;
}
#audienceinsta .audiencestatics .followers-sets div p{
    font-family: "Lato", sans-serif !important;
}
#getfollowers .service-button .btn-service-get , #audienceinsta .audience-button .btn-rm{
    padding: 0px !important;
}
#how-works .circle-content h6{
    font-family: "Lato", sans-serif;
}
#how-works .get-concult .btn-get{

    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}


.top-menu ul li {
  line-height: 76px;
  padding: 0 10px !important;
  margin: 0;
}
.block-phones span {
  color: #4996ca;
  font-family: Roboto,sans-serif;
  font-size: 13px;
}
.top-menu ul li a{
  color: #fff;
}
.block-phones label{
  margin-bottom: 0;
}
.main{
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
.top-navbar{
  margin-top: 0 !important;
}
.top-menu ul {
  list-style: none;
  font-size: 15px !important;
}
.block-phones label {
  font-weight: 400 !important;
}
#free-account {
    background: url('../images/bg3.png') no-repeat 0 0%,
               url('../images/bg4.png') no-repeat 100% -207%;
/*  background: url('../images/smoke1.png') no-repeat -200% 120%,
               url('../images/bgbg4.png') no-repeat 300% -120%;*/
  background-color:  #fafdfe;
  background-size: 83%,50%;
  height: 100%;
}
.container-fluid {
  padding: 0 !important;
}
#free-account .caption-text {
  text-align: center;
  margin-top: 35px;
}
#free-account .caption-text .untitle {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin: 0 !important;

  text-transform: uppercase;
}
#free-account .caption-text h3 {
  font-size: 25px;
  font-weight: 400;
  color: #4996ca;
  padding:1.3rem 0;

  text-transform: uppercase;
}
h3 {
  color: #4996ca;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;

  font-size: 28px;

}
#regForm {
  background-color: #fff;
  margin: 10px auto;
  font-family: Lato;
  width: 50%;
  min-width: 200px;
  box-shadow: 0px 0px 10px 0px #e1e3e4;
  border: none;
  height: auto;
  margin-bottom: 100px;
}

#free-account .subtitle {
  font-size: 16px;
  color: #676b6d;

  padding:1.3rem 0;
}
#regForm input {
  padding: 10px;
  font-size: 17px;
  font-family: 'Lato';
  border: 1px solid #aaaaaa;
}

#regForm input.invalid {
  background-color: #ffdddd;
}

#regForm .tab {
  display: none;
}
.step {
  height: 40px;
  width: 40px;
  margin: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #4996ca;
  border-radius: 50%;
  display: inline-block;
  color: #4996ca;

  font-size: 12px;
}
.hline {
  width: 45px;
  height: 1px;
  background-color: #4996ca;
  margin:auto 0 !important;
  height: 2px;
}

.step.active {

  color: #fff;
  background-color: #4996ca;

}

/* Mark the steps that are finished and valid: */
.step.finish {
  color: #fff;
  background-color: #4996ca;
}
.paginfInfo {
  border-bottom: 1px solid #ccc;
  padding: 37px 0;
  text-align: center;
  display: flex;
  justify-content: center;

}
#regForm .tabtitle {
  padding: 10px 0;
  margin-left: 25%;
  font-family: 'Lato Medium';
  font-size: 16px;
}
#regForm .input-fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

}
#regForm  .input-fields {
  flex-direction: column;

}
#regForm  .input-fields  input{
  margin: 10px 10px;
  width: 50%;
  font-family: 'Lato Medium';
}
/***************************** ARROWS BUTTONS ****************************/
.inst-btn {
  /* width: 50px; */
  text-transform: uppercase;
  background:none;
  color: #4996ca !important;
  outline: 0 !important;
  font-size: 16px;
  padding: 0;
  border: none;
}
#wrapper3 .inst-btn {
  width: 100px;
  text-transform: uppercase;
  background:none;
  color: #4996ca !important;
  outline: 0 !important;
  font-size: 16px;
  padding: 0;
  border: none;
  font-family: "lato medium";
}
#wrapper1 {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#wrapper2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

   width: 50px;
}
.input-fields2 {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(152, 155, 156);
}
/* #wrapper2:before{
  content:" ";
  display:inline-block;
}
#wrapper2:after{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
#wrapper2:after{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
#wrapper3:after,
#wrapper3:before{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
} */
.right-arr {
  height: 7rem;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4996ca;
}
#wrapper2 .right-arr {
  margin-right: 1rem;
}
#regForm .buttons-arrows {
  flex-wrap: wrap;
  padding: 58px 73px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-fields2 .col-sm-6:nth-child(2){
  margin-bottom: 25px;
}
#regForm .places .tabtitle2{
  margin-left: 6.7%;
  padding: 40px 0;
  font-family: 'Lato Medium';
}
#regForm .places .tabtitle2 span{

  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
#regForm .places .input-fields2{
  margin-left: 2%;
}
#regForm .places div label{
  padding-left: 16px;
  font-family: 'Lato Medium';
}
#regForm #wrapper3 {
  display: none;
  margin: 0 67px;
}
#wrapper3 {
  margin-bottom: 25px !important;
}
.caption-text hr {
  width: 50px;
  background-color: #696f70;
}



/****************************************************************** SECOND SECTION ********************************************************************/
#text-slider {
  background-color: #fff;
}
.white-bg{
  padding-bottom: 5rem;
  border-bottom: 2px solid #e6e6e6;
}
#text-slider .slider-sinlge{
  margin: 0 auto;
  position: relative;

}
#text-slider h3 {
  margin: 80px auto 40px;
}
#text-slider .btn-rm {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 50px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;

}
#text-slider p {
  font-family: 'Lato Semibold';
  font-size: 16px;
}

 #text-slider .readmbtn {
  text-align: center;
}
.slick-list{
  height: auto !important;
}
.slider-text{
  padding: 0 2rem;
}
#text-slider .slider-sinlge .slick-next {
  position: absolute;
  right: -45px;
  top: auto !important;
  bottom: 0 !important;
  border: 1px solid #c9cac9;
  border-radius: 50%;
  z-index: 99;
  background: url('../images/arrow-r.png') no-repeat center !important;
  color: transparent;
  outline: none !important;
  cursor: pointer;
  width: 39px;
  height: 39px;
}

#text-slider .slider-sinlge .slick-prev {
  position: absolute;
  left: -45px;
  top: auto !important;
  bottom: 0 !important;
  border: 1px solid #c9cac9;
  border-radius: 50%;
  z-index: 99;
  background: url('../images/arrow-l.png') no-repeat center !important;
  color: transparent;
  outline: none !important;
  cursor: pointer;
  width: 39px;
  height: 39px;
}
/****************************************************************** THIRD SECTION ********************************************************************/

#how-works {
  /* margin: 150px auto 50px; */
  height: 100%;
  background-color: #fff;

}
#how-works h6 {
  font-size: 16px;
  color: #060706;
  font-family: 'Lato Medium';
  font-weight: 600;
  text-align: center;
}
#how-works h3 {
  padding-top: 8rem;
  font-size: 25px;

  font-weight: 400;
}
#how-works .circle-content h6 {
  color: #060706;
  font-size: 16px;

  font-weight: 600;
  padding: 1.7rem 0 1.3rem 0;
  height: 7rem;
}
#how-works p {
  font-size: 14px;


}
#how-works .cirlces-block {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}
#how-works .circles {
  text-align: center;
  margin-bottom: 30px;
}
#how-works .cirlces-block .cicle-ellipse {
  margin: 0 auto 15px;
  text-align: center;
  line-height: 120px;
  height: 120px;
  width: 120px;
  border: 3px solid #f0d1d3;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 50%;
  box-shadow: 1px 0px 1px 0px #f0d1d3;
  font-size: 40px;
}
#how-works .get-concult {
  text-align: center;
}
#how-works .get-concult .btn-get {
  text-transform: uppercase;
  color: #4996ca;
  border: 1px solid #4996ca;
  padding: 0 30px;
  border-radius: 0;
  margin-bottom: 8rem;
}
/****************************************************************** FOURTH SECTION ********************************************************************/
#whyus {
  background-color: #f9f9f9;
  height: 100%;
  padding-top: 10rem;
}
#whyus .circlesofus {
  border: 2px solid #4996ca;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  margin: 0 50px;
}
#whyus h3 {
  padding: 0 0 5rem 0;
  font-size: 25px;

  font-weight: 400;
}
#whyus .purple ,
#whyus .purple .inside-circle-text p>span{
  color: #ea78fd;
  border-color: #ea78fd;
}
#whyus .green ,
#whyus .green .inside-circle-text p>span{
  color: #5abc53;
  border-color: #5abc53;
}
#whyus .yellow ,
#whyus .yellow .inside-circle-text p>span{
  color: #edc42c;
  border-color: #edc42c;
}
#whyus .green .inside-circle-text {
  position: absolute;
  right: -7.5rem;
  top: 12px;
  background-color: #f9f9f9;
  height: 125px;
  width: 327px;
}
#whyus .green .inside-circle-text  .top-text,
#whyus .yellow .inside-circle-text  .top-text{
  text-align: inherit;
}
#whyus .circles-whyus {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}
#whyus .inside-circle-text {
  position: absolute;
  right: 7rem;
  top: 12px;
  background-color: #f9f9f9;
  height: 125px;
  width: 190px;
}
#whyus .inside-circle-text p{
  margin: 0;
  color: #000;

  font-size: 16px;
}
#whyus .inside-circle-text p>span{
  font-family: 'Lato';
  margin: 0;
  color: #4996ca;
  font-size: 50px;
}

#whyus .inside-circle-text .top-text{
  text-align: center;
  font-family: 'Lato Bold'
}
#whyus .whyus-circle-block {
  position: relative;
  margin-bottom: 7rem;
}
#whyus .whyus-circle-block:nth-child(1) .inside-circle-text .bottom-text{
  width: 25rem;
}
#whyus .whyus-circle-block:nth-child(3) .inside-circle-text .bottom-text{
  width: 26rem;
}
#whyus .whyus-circle-block:nth-child(5) .inside-circle-text .bottom-text{
  width: 18rem;
}
#whyus .whyus-circle-block:nth-child(3) .inside-circle-text {
  top: 7px;
}

/****************************************************************** FIFTH SECTION ********************************************************************/
#getfollowers{
  height: 100%;
  /* margin-bottom: 70px; */
  background-color: #fff;
}
#getfollowers .caption-text .untitle {
    font-size: 18px;
    color: #060706;

    margin: 0 !important;
    text-transform: uppercase;
}
#getfollowers  .caption-text {
    text-align: center;
    margin-top: 8rem;
}
#getfollowers  .caption-text .subtitle {
  font-weight: 400;
  font-family: 'Lato Medium';
  font-size: 18px;
  margin-top: 5rem;
  color: #3f423f;
}
#getfollowers  .caption-text h3{
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    font-weight: 400;
}
#getfollowers .our-services{
  margin-top: 30px;
}
#getfollowers .service-content {
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#getfollowers .service-content .service-circle {
  height: 120px;
  width: 120px;
  border: 1px solid #509acc;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
}

#getfollowers .service-content .sevrvice-text {
  font-weight: bold;
  margin-top: 0px;
}
#getfollowers .service-content .sevrvice-text p{
	margin-bottom: 4rem;
  font-weight: 700;
  font-size: 16px;
  color: #3b3b3b;
}
#getfollowers .service-button {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 5rem;
}
#getfollowers .service-button .btn-service-get {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 50px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;
  margin-bottom: 3rem;
}
/****************************************************************** SIXTH SECTION ********************************************************************/
#audienceinsta {
  height: 100%;
  background-color: #f9f9f9;
  padding: 70px 0;
}
#audienceinsta .caption-text {
  margin-bottom: 50px;
}
#audienceinsta .caption-text h3{
  font-size: 25px;
  font-weight: 400;

}
#audienceinsta .audiencestatics .ie-chart-statics {
  position: relative;
}

#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
  position: absolute;
  top: 35%;
  color: #fff;
  margin: 0 !important;
  width: 145px;
  right: 47%;
  text-transform: uppercase;


}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta span{
  font-size: 16px;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta strong,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta strong{
  font-size: 40px;
  position: absolute;
  left: 1rem;
  top: 5rem;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta {
  position: absolute;
  top: 35%;
  color: #fff;
  margin: 0 !important;
  width: 150px;
  left: 57%;
  text-transform: uppercase;

}
/* #audienceinsta .audiencestatics .audience-chart p {
  padding-top: 17%;
} */
#audienceinsta .audiencestatics .audience-chart {
  padding: 0 !important
}
#audienceinsta .audiencestatics .audience-chart .col-sm-6 {

}

#audienceinsta .audiencestatics .followers-sets {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#audienceinsta .audience-button{
  text-align: right;
}
#audienceinsta .audience-button .btn-rm {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 30px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;

}
#audienceinsta .audiencestatics .followers-sets div {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#audienceinsta .audiencestatics .followers-sets div img{
  padding: 0 20px 20px;
}
#audienceinsta .audiencestatics .followers-sets div p {
  display: inline-block;
  font-family: 'Lato Medium';
  font-size: 16px;
}
#audienceinsta .audiencestatics .set-text {
  width: 100%;
  /* padding-top: 10px; */
  margin: 0 !important;
}
#audienceinsta .audiencestatics .information-content {
  margin-left: 1.3333%;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
#audienceinsta .audiencestatics .information-content img{
  padding: 0 1rem 1rem 2.5rem;
  width: 9rem;
}
#audienceinsta .audiencestatics .information-content p{
  display: inline-block;
  font-family: 'Lato Medium';
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 0 1rem;
}
#audienceinsta .audiencestatics .followers-sets div:nth-child(2) p,
#audienceinsta .audiencestatics .followers-sets div:nth-child(3) p
#audienceinsta .audiencestatics .followers-sets div:nth-child(4) p{
  font-size: 14px;
}
/****************************************************************** SEVENTH SECTION *******************************************************************/
#criteries {
  background: #4996ca;
  padding-top: 70px;
}
#criteries .caption-text {
  margin-bottom: 50px;
}
#criteries .caption-text h3 {
  color: #fff;

  font-size: 25px;
  font-weight: 400;
}
#criteries .caption-text p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 !important;


}
#criteries .criteries-block {
  -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 2rem 0 5rem 0;
}
#criteries .criteries-block .criteris-content {
  text-align: center;
  margin-bottom: 30px;
}
#criteries .criteries-block .criteris-content .criteries-text h6{
  font-size: 17px;
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 700;

  text-align: center;
  margin: 4rem 0 1rem 0;
}
#criteries .criteries-block .criteris-content .criteries-text p{
  color: #f9f9f9;
  text-align: center;
  font-size: 15px;
}
#criteries .criteries-block .criteris-content .criteries-icon {
  margin-bottom: 25px;
  height: 4rem;
}
/****************************************************************** SEVENTH SECTION *******************************************************************/
#ourpartners {
  height: 100%;
  background-color: #f9f9f9;
  padding: 70px 0;
}
#ourpartners .caption-text {
  margin-bottom: 50px;
}
#ourpartners .caption-text h3{

  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
}
#ourpartners .partners-block {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
#ourpartners .partners-block .partners-content {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ourpartners .partners-block .partners-content:nth-child(1) img{
  width: 20rem;
}
.mobile-version {
  display: none !important;
}
/******************************************************************   RESPONSIVE    ***************************************************************/
@media screen and (max-width: 476px)
{
  #free-account #regForm .buttons-arrows {
    padding: 0;
  }
  #free-account #regForm {
    width: 100%;
  }
  #free-account #regForm #wrapper3 .inst-btn {
    width: 160px;
  }
  #text-slider .slider-sinlge .slick-next {
    position: absolute;
    right: 0;
  }
  #text-slider .slider-sinlge .slick-prev {
  clear: both;
  bottom: 0;
  left: 0%;
  right: auto;
  top: unset;
  }
  #text-slider .readmbtn {
    margin: 20px auto 10px;
    width: 100%
  }
  #whyus .inside-circle-text {
    right: 36px;
  }
  #whyus .green .inside-circle-text {
    right: 4%;
    top: -3px;
    height: 200px;
    width: 203px;
  }
  .d-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    right: 52%
  }
  #audienceinsta .audiencestatics .pie-chart-statics .women-insta {
    left: 54%;
  }
  #audienceinsta .audiencestatics .pie-chart-statics .women-insta p strong {
    padding-left: 25px;
  }
  #audienceinsta .audiencestatics .audience-chart .col-sm-6 {
    width: 60%;
    margin: 0 auto;
  }
  #audienceinsta .audiencestatics .followers-sets div p {
    margin: 0 auto;
    display: block;
  }
  #audienceinsta .audiencestatics .followers-sets {
    text-align: center;
  }
  #audienceinsta .audiencestatics .set-text {
    width: 100%;
  }
  #audienceinsta .audiencestatics .information-content {
    text-align: center;
    margin: 10px 0;
  }
  #audienceinsta .audience-button {
    margin: 20px auto;
    text-align: center;
  }
  .desktop-version {
    display: none !important;
  }
  .mobile-version {
    display: block !important;
  }

}
@media screen and (max-width: 768px){
  .d-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #whyus .inside-circle-text p{
    width: auto !important;
  }
  #audienceinsta .audiencestatics .audience-chart .col-sm-6 {
    margin: auto;
}
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {

}

@media screen and (min-width: 768px) and (max-width: 996px) {
  .top-flex{
    flex-wrap: wrap;
  }
  .header_logo img{
    width: 13rem;
  }
  .bottom-cont h3 {
    margin-top: 0 !important;
  }
  .banner-content {
    max-width: 50% !important;
    flex: none !important;
  }
  #insta-banner .banner-content {
    padding-left: 0 !important;
    padding-top: 0 !important;
}
  #whyus .inside-circle-text {
    position: absolute;
    right: -21px;
    top: 12px;
    background-color: #f9f9f9;
    height: 125px;
    width: 190px;
}
#whyus .green .inside-circle-text {
    position: absolute;
    right: -63px;
    top: 12px;
    background-color: #f9f9f9;
    height: 125px;
    width: 327px;
}
#ourpartners .partners-block .partners-content img{
  width: 12rem;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta strong,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta strong {
    font-size: 19px;
    top: 4rem;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta,
#audienceinsta .audiencestatics .pie-chart-statics .men-insta  {
  top: 10%;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    top: 11% !important;
    width: 12.5rem;
    right: 26% !important;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta {
    top: 11% !important;
    width: 100px;
    right: 0% !important;
    left: auto;
}
#audienceinsta .audiencestatics .information-content img{
      padding: 0 1rem 1rem 3.5rem;
      width: auto;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span, #audienceinsta .audiencestatics .pie-chart-statics .women-insta span {
    font-size: 10px;
}
.form-input {
  width: 69% !important;
}
}
#insta-banner {
  background-color: #000;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 12rem 0;
}
#insta-banner .banner-iamges img{
  width: 100%;
  height: 100%;
}
#insta-banner .banner-content h1 {
  font-size: 30px;
  font-weight: bold;
  color: #4996ca;

  margin-bottom: 50px;

}
#insta-banner .banner-content p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;

  border-left: 1px solid #4996ca;
  padding-left: 9px;
}
#insta-banner .banner-content {
  /* padding-left: 70px; */
  padding-top: 75px;
}
#bottom {
  background-color: #060606;
}
.phone {
  margin-left: 2rem;
  margin-top: 5rem;
  position: relative;
  color: #e9e9e7;

  font-weight: 400;
  display: grid;
  margin-bottom: 40px;
  font-size: 25px;
}
.where {
  width: 212px;
  color: #e9e9e7;
  font-size: 16px;
  color: #f0ebe8;

  font-weight: 400;
  font-weight: 400;
  margin-left: 2rem;
  position: relative;
}
.phone::before {
    content: url(../images/call-answer.png);
    display: inline-block;
    left: -4rem;
    top: .5rem;
    position: absolute;
}
.where::before {
    content: url(../images/location.png);
    display: inline-block;
    left: -4rem;
    top: 0rem;
    position: absolute;
}
.bottom-form-bg {
    width: 650px;
    height: 284px;
    background-color: #171715;
    background-image: linear-gradient(to bottom, #000000 0%, #d0d0d0 100%);
    opacity: 0.1;

}
.bottom-cont h3 {
    margin-top: 4rem;
    color: #4996ca;
    font-size: 22px;
    font-weight: 600;

  }
.btm-form {
  /* position: absolute; */
  margin-top: -18rem;
  text-align: center;
}
.send {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 30px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;
  margin-top: 25px;
}
.bottom-row {
  margin-right: 0 !important;
}
.bf-text p {
  margin: 0 !important;
}
@media (max-width: 800px){

.bottom-row {
  padding-left: 30px;
}
.bottom-form-bg {
    width: 100%;
}

.where {
    width: 283px !important;
    margin: 0 auto!important;
}
.phone {
    width: 282px!important;
    margin: 5rem auto 1rem!important;
}
.btn-rm,
.btn-service-get,
.btn-get,
.send {
  padding: 0 0 !important;

}
#whyus .inside-circle-text {
    height: 114px;
    width: 190px;
    top: 23px;

}
#whyus .green .inside-circle-text {
    right: 2%;
    top: 19px;
    height: 120px;
    width: 200px;
}
#whyus .inside-circle-text p>span {
    font-size: 25px;
}
.send {
  margin-top: 25px !important;
}
#regForm {
  width: 100% !important;
}

}
@media (max-width: 700px){
  .form-input {
      width: auto;
  }
  .bottom-cont h3 {
    width: auto;
    font-size: 16px!important;
}
/*.contacts {
    margin-left: 60px;
}*/
#insta-banner .banner-content p {
  border: none;
}
#insta-banner .banner-content {
    padding-left: 18px;
    padding-top: 0px;
}
#getfollowers .service-button {
    margin-top: 30px;
    text-align: center;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span, #audienceinsta .audiencestatics .pie-chart-statics .women-insta span {
    font-size: 12px;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    right:40%;
    width: 12rem;
    top: 37%;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta{
  top: 37%;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta strong, #audienceinsta .audiencestatics .pie-chart-statics .women-insta strong{
  font-size: 2.5rem;
}
#audienceinsta .audiencestatics .information-content img{
  width: 64px;
  height: 64px;
  padding: 0;
}
#audienceinsta .audiencestatics .followers-sets div{
  display: block;
}
#audienceinsta .audiencestatics .information-content{
  display: block;
}
.bottom-row .col-lg-3 img {
    display: none;
}
}

@media screen and (max-width: 374px) {
  .where {
    width: 257px !important;
  }
  .phone {
    width: 266px!important;
    margin: 5rem auto 1rem!important;
}
}
.btn-effect {
  font-size: 16px !important;
}
@media (min-width: 1221px){
.top-navbar .containerx {
    width: 1221px !important;
    margin: 0 auto;
}
}



.before-footer {
  padding-bottom: 30px;
  width: 100%;
  padding-top: 80px;
  background-color: #060606;
}

.before-footer input {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 84%;
    border: 1px solid #f2f1f1;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}
.before-footer input::placeholder{
  color: #fff;
}
.before-footer-form {
    padding-bottom: 35px;
    padding-top: 42px;
    background: url(../img/form-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.before-footer-form {
    padding-bottom: 35px;
    padding-top: 42px;
    background: url(../img/form-bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.before-footer img {
    float: left;
    display: inline-block;
}
.before-footer .phones-block {
    color: #e9e9e7;
    font-size: 25px;
    font-weight: 400;
    padding-top: 3rem;
    text-align: right;
    display: inline-block;
}
.phones-block-2{
  width: 214px;
  text-align: left;
}
.before-footer p {
    display: inline-flex;
    margin-top: 40px;
    margin-right: 15px;
    text-align: left;
    color: #f0ebe8;
    font-size: 16px;
    font-weight: 400;
}
.before-footer .phones-block-3:before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../img/placeholder.png) center no-repeat;
    margin-right: 25px;
}
.before-footer .phones-block:before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../img/call-answer.png) center no-repeat;
    margin-right: 25px;
}
.before-footer .phones-block a {
    display: inline-block;
}
.before-footer h2 {
    color: #4996ca;
    font-size: 22px;
    font-weight: 700;
}
.footer{
  background: none !important;
  height: auto !important;
  background-color: #060606 !important;
}
.footer p {
    margin-bottom: 73px;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-top: 29px;
}
.footer h3 {
    display: inline-block;
    margin-top: 50px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: right !important;
}
.footer img {
    display: inline-block;
}
a {
    color: inherit;
    transition: .3s all;
    outline: 0;
}
.before-footer-form button {
    height: 62px;
    width: 240px;
    border: 1px solid #4d9cd0;
    color: #4d9cd0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s;
}
.footer-social .fb {
    margin-left: 0;
}
.footer-social a {
    margin-left: 20px;
}



.slider-sinlge .slide img{
    width: 100%;
}
.slider-sinlge .slick-dots{
    position: absolute;
    left: 0;
    bottom: -170px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}
.slider-sinlge .slick-dots li{
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap;
    border: 0;
    width: 390px;
    height: 2px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:transparent;
    box-shadow: 0 0 0 0 rgba(82, 156, 219, 0);
}

.slider-sinlge .slick-dots li button{
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: blue;
    font-size: 16px;
    color: #d3ddf0;
    font-weight: 600;
    text-align: center;
    outline: none;
    position: relative;
}
.slider-sinlge .slick-dots li.slick-active button{
    color: #34a8ff;
}
.slider-sinlge .slick-dots li button .fa{
   position: absolute;
   bottom: -20px;
   left: 50%;
   margin-left: -5px;
   opacity: 0;
   transition: all 0.3s ease;
}
.slider-sinlge .slick-dots li.slick-active button .fa{
    bottom: -8px;
    opacity: 1;
}
.slick-dots .slick-active{
  height: 5px !important;
  background-color: #4996ca !important;
}
.slick-next:before, [dir=rtl] .slick-prev:before {
    content: '' !important;
}

.slick-prev:before {
    content: '' !important;
}
@media (max-width:576px){
  #regForm .input-fields input{
    font-size: 12px;
    width: 90%;
  }
  #regForm .places div label{
    font-size: 14px;
  }
  #wrapper2{
    width: auto !important;
  }
  .buttons-arrows{
    padding-bottom: 1rem !important;
  }
}
@media (min-width: 997px) and (max-width:1024px){
  #audienceinsta .audiencestatics .pie-chart-statics .men-insta{
    top: 28%;
    right: 40%;
  }
  #audienceinsta .audiencestatics .pie-chart-statics .women-insta{
    top: 28%;
    left: 54%;
  }
  .top-flex{
    /* flex-wrap: inherit; */
  }
  #audienceinsta .audiencestatics .followers-sets div{
    justify-content: left;
  }
  #ourpartners .partners-block .partners-content img{
  width: 12rem;
}
}



 .input-fields2 input[type="radio"] {
  display: none;
}
.input-fields2 label {
  padding-left: 20px;
}
.input-fields2 label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #989b9c;

}
.input-fields2 input[type="radio"]:checked + label::before {
  content: '●';
  background-size: 100%;
  line-height: 100%;
  text-align: center;
}
footer{
    display: block;}

@media(max-width: 768px) {
	#text-slider h3 {
		margin: 0px auto 40px;
	 }

	 #whyus .whyus-circle-block:nth-child(3) .inside-circle-text {
		top: 15px;
	 }

	 #whyus .green .inside-circle-text {
		right: -16%;
  }
}

@media(max-width: 414px) {
	#text-slider .slider-sinlge .slick-prev {
		bottom: -55% !important;
	 }
	 #text-slider .slider-sinlge .slick-next {
		bottom: -55% !important;
	 }

	 .btn-effect span{
		padding: 12px 34px!important;
	 }

	 #whyus .inside-circle-text {
		right: 75px;
  }

  #whyus .green .inside-circle-text {
	right: 19%;
}

#insta-banner .banner-content p{
	padding-left: 0px;
  }
}
