
body {

    font-weight: 400;
    overflow-x: hidden;
}
.btn-hollow.order-btn{
    color: #fff !important;
}
body{
    font-size: 14px;
}
.main-ul li{
    font-family: 'Lato', sans-serif;

}
.btn-price.btn_test{
    padding: 13px 27px;
}
.top-flex {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.header-cont {
    padding: 0;
}
.main-block {
    min-height: 655px;
    width: 100%;
    padding-top: 76px;
    background-color: #000;
}
.main-block .container {
    position: relative;
}
.main-block .main-text {
    border-left: 1px solid #4d9cd0;
}
.main-block .all-main-info {
    padding-left: 35px;
}


@media screen and (min-width: 1020px) and (max-width: 1024px) {
	.main-block .all-main-info {
		padding-left: 105px;
  }
}

.block-phones label {
    margin-bottom: 0;
}
h1 {
    color: #0097cd;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 88px;
}
h1 span {
    color: #f1f1f1;
}
.gloves-and-video > img {
    margin-top: 40px;
}
.play-btn {
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    padding-left: 20px;
    left: 260px;
}
.play-btn img {
    -webkit-transition: .3s;
    transition: .3s;
}
.play-btn img:hover {
    -webkit-filter: drop-shadow(0 0 15px rgba(26, 184, 255, 0.61));
    filter: drop-shadow(0 0 15px rgba(26, 184, 255, 0.61));
}
.concept-development {
    margin-top: 40px;
    width: 105%;
    color: #4d9cd0;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}
.small-white-main-p {
    color: #ffffff;
    margin-top: 27px;
    font-size: 18px;
    margin-left: 14px;
}
.main-ul {
    padding-left: 15px;
}
.main-ul li {
    list-style: none;
    position: relative;
    color: #ffffff;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}
.main-ul li::before {
    content: url('../img/list-triangle.png');
    position: absolute;
    left: 0;
}
.p-to-go {
    color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 251px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}
.p-to-go span {
    color: #0097cd;
}
.sec-block {
    background: url(../img/sec-bg.png) center center no-repeat;
    background-color: #fff;
    min-height: 592px;
}
.top-navbar-wrapper {
    position: fixed;
    z-index: 99;
}
h2 {
    text-align: center;
    margin-top: 27px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #232428;
    text-transform: uppercase;
}
h2 span {
    text-transform: none;
    color: #4996ca;
}
.sec-block {
    text-align: center;
    padding-top: 70px;
}
.sec-block .input-sec {
    width: 100%;
    height: 46px;
    border: none;
    padding-left: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.sec-block .row {
    text-align: left;
    margin-top: 35px;
}
.sec-block .sec-area {
    text-align: left;
    width: 100%;
    height: 86px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 21px;
    padding-left: 20px;
    padding-top: 5px;
    resize: none;
}
.sec-block .col-lg-10.offset-lg-1 {
    padding: 0;
}
.sec-block .blue-btn {
    max-width: 327px;
    width: 90%;
    height: 57px;
    border: 2px solid rgba(72, 141, 188, 0.5);
    background-color: #ffffff;
    margin-top: 30px;
    color: #4996ca;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 !important;
}
.sec-block .consult {
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
.sec-block .consult img {
    margin-right: 40px;
}
.third-block {
    /*min-height: 1218px;*/
    background-color: #5b9ece;
    padding-top: 40px;
    padding-bottom: 70px;
}
.third-block h2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}
.third-block h2 span {
    color: #232428;
}
.third-block .man-block {
    width: 100%;
    height: 480px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.36);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.36);
    background-color: #ffffff;
    border-radius: 5px;
}
.third-block .man-block .mans-info {
    text-align: center;
}
.third-block .man-block .mans-info .name {
    margin-top: 25px;
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.third-block .man-block .mans-info .pos {
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
}
.third-block .row,
.third-block .container {
    padding: 0;
}
.third-block .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
}
.third-block .col-xs-12 img {
    width: 100%;
    max-height: 254px;
}
.third-block .row .man-block {
    margin-top: 10px;
}
.third-block .container {
    overflow: hidden;
}
.fourth-block {
    padding-top: 40px;
    min-height: 389px;
}
.fourth-block h2 {
    color: #232428;
}
.fourth-block .logos-slider {
    position: relative;
	 margin-top: 44px;
	 display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fourth-block .slick-next {
    border-radius: 0 50px 50px 0;
    width: 33px;
    height: 65px;
    border: 1px solid #ffffff;
    background-color: #000000;
    opacity: 0.2;
    border: none;
    position: absolute;
    right: -90px;
    left: auto;
    -webkit-transition: .4s;
    transition: .4s;
}
.fourth-block .slick-next:before {
    display: none;
}
.fourth-block .slick-next:hover {
    opacity: 0.6;
}
.fourth-block .slick-prev {
    left: -90px;
    right: auto;
    border-radius: 50px 0 0 50px;
    position: absolute;
    width: 33px;
    height: 65px;
    border: 1px solid #ffffff;
    background-color: #000000;
    opacity: 0.2;
    border: none;
    -webkit-transition: .4s;
    transition: .4s;
}
.fourth-block .slick-prev:before {
    display: none;
}
.fourth-block .slick-prev:hover {
    opacity: 0.6;
}
.fifth-block {
    background-color: #000;
    padding-top: 45px;
    padding-bottom: 70px;
}
.fifth-block h2 {
    color: #fff;
}
.fifth-block .row {
    padding-top: 45px;
}
.fifth-block .row .col-lg-8 h3 {
    color: #5b9ece;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.fifth-block .row .col-lg-8 p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.fifth-block .row .col-lg-8 p span {
    color: #5b9ece;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.sixth-block {
    padding-top: 45px;
    background: url(../img/sixth-bg.png);
    padding-bottom: 80px;
}
.sixth-block h2 {
    color: #000;
    margin-bottom: 50px;
}
.sixth-block h2 span {
    color: #000;
}
.sixth-block .row {
    padding: 0;
}
.sixth-block .row .col-lg-4 {
    padding: 0;
}
.sixth-block .row .col-lg-4 img {
    max-width: 100%;
}
.seventh-block {
    min-height: 1058px;
    background-color: #5b9ece;
    padding-top: 78px;
    text-align: center;
}
.seventh-block h2 {
    color: #fff;
}
.seventh-block .row {
    margin-top: 45px;
}
.seventh-block .one-feat {
    text-align: center;
}
.seventh-block .one-feat .feat-name {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
    height: 40px;
}
.seventh-block .one-feat .feat-txt {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.seventh-block .arrow {
    margin-top: 55px;
}
.seventh-block .smal-last-p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.pre-footer {
    min-height: 746px;
    text-align: center;
    padding-top: 70px;
    background-color: #000000;
}
.pre-footer h2 {
    color: #fff;
}
.pre-footer .input-sec {
    width: 100%;
    height: 46px;
    border: none;
    padding-left: 20px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.pre-footer .row {
    text-align: left;
    margin-top: 35px;
}
.pre-footer .sec-area {
    text-align: left;
    width: 100%;
    height: 86px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.34);
    background-color: #ffffff;
    color: #232428;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 21px;
    padding-left: 20px;
    padding-top: 5px;
    resize: none;
}
.pre-footer .col-lg-10.offset-lg-1 {
    padding: 0;
}
.pre-footer .blue-btn {
    max-width: 327px;
    width: 90%;
    height: 57px;
    border: 2px solid rgba(72, 141, 188, 0.5);
    background-color: #000;
    margin-top: 30px;
    color: #4996ca;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.pre-footer .col-lg-5 {
    padding-left: 10px;
}
.big-hr {
    width: 100%;
    margin-top: 50px;
    height: 0;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    opacity: 0.5;
    margin-bottom: 30px;
}
.phone-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.phone-block span {
    color: #e9e9e7;
    font-family: Lato;
    font-size: 25px;
    font-weight: 400;
}
.phone-block img {
    margin-top: 10px;
    margin-right: 16px;
}
.map-block {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
}
.map-block img {
    margin-right: 15px;
}
.map-block p {
    width: 361px;
    color: #f0ebe8;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.bottom-footer {
    position: relative;
    bottom: 0;
    height: 120px;
    top: 30px;
    text-align: center;
    padding-top: 2rem;
}
.bottom-footer i {
    color: white;
    font-size: 22px;
    margin-left: 30px;
    width: 40px;
    height: 45px;
    background-color: #797979;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    border: transparent 1px solid;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.bottom-footer i:hover {
    border: white 1px solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bottom-footer {
    color: white;
}
.footer h2 {
    font-family: Oswald;
    color: #797979;
    font-size: 20px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.contact {
    margin: 0 auto;
    font-family: Oswald;
    color: #797979;
    font-size: 1.3rem;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    width: 330px;
    margin-top: 40px;
}
.about img {
    display: inline-block;
    margin-top: -25px;
    margin-right: 10px;
    margin-left: 10px;
}
.about p span {
    display: inline-block;
}
.about {
    margin-bottom: 20px;
    margin-top: -150px;
}
.icons-anchor {
    margin-top: 25px;
}
.bf-text {
    font-family: 'Lato', sans-serif;
    color: #797979;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 1rem;
}
.icon-at-all {
    border: 2px solid transparent;
    border-radius: 50%;
}
.icon-at-all:hover {
    border: 2px solid #AAD6F3;
}
.btn-hollow,
.services-item-btn {
    border-radius: 0;
}
.main-logo {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.bf-text {
    font-family: 'Lato', sans-serif;
    color: #797979;
    font-size: 1.2rem;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 1rem;
    padding-bottom: 40px;
}
.modal-content {
    width: 100%;
    min-width: 1000px;
    min-height: 600px;
}
.modal.show .modal-dialog {
    width: 100%;
    -webkit-transform: translate(-45%, 0);
    transform: translate(-45%, 0);
}
.mobile-btn {
    display: none;
}
@media (max-width: 1170px) {
    .modal-content {
        width: 100%;
        min-width: 800px;
        min-height: 600px;
    }
    .modal.show .modal-dialog {
        width: 100%;
        -webkit-transform: translate(-30%, 0);
        transform: translate(-30%, 0);
    }
}
@media (max-width: 991px) {
    .lamp {
        max-width: 100%;
    }
    .mobile-btn {
        display: block;
    }
    .desktop-btn {
        display: none;
    }
    .modal-content {
        width: 100%;
        min-width: 800px;
        min-height: 600px;
    }
    .modal.show .modal-dialog {
        width: 100%;
        -webkit-transform: translate(-30%, 0);
        transform: translate(-30%, 0);
    }
}
@media (max-width: 768px) {
    .third-block .row .man-block {
        height: auto;
    }
    .third-block .man-block .mans-info {
        padding-bottom: 10px;
    }
}
@media (max-width: 600px) {
    .sixth-block .wow.col-lg-4 {
        -webkit-animation: none!important;
        animation: none!important;
    }
    .seventh-block {
        padding-top: 30px;
    }
    .sixth-block {
        background-size: 250% auto;
        background-repeat: no-repeat;
    }
    .gloves {
		  display: block;
		  width: 100%;
    }
    .play-btn {
        position: static;
        margin: 0 auto;
        width: 49px;
        margin-top: 40px;
    }
    .fourth-block .slick-prev {
        /*left: 40%;*/
        left: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 50px;
        z-index: 1;
        width: 23px;
        height: 45px;
    }
    .fourth-block .slick-next {
        /*right: 40%;*/
        right: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        top: 50px;
        z-index: 1;
        width: 23px;
        height: 45px;
    }
    .seventh-block {
        padding-bottom: 30px;
    }
    .input-sec {
        margin-bottom: 20px;
    }
    .sec-block .consult {
        display: none;
    }
    h2 {
        font-size: 21px;
    }
    h2 span {
        font-size: 18px;
    }
    .man-block {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
    }
    .third-block {
        padding-bottom: 30px;
    }
    .third-block .row .man-block {
        height: auto;
    }
    .third-block .man-block .mans-info {
        padding-bottom: 10px;
    }
    .phone-block span {
        font-size: 18px;
    }
    .main-block {
        background: url(../img/eggs-in-white-gloves.png) center 100px no-repeat #000000;
        background-size: 100%;
    }
    .slick-slide img {
        width: 200%!important;
    }
    .slick-slide:nth-child(2n) img {
        display: none!important;
    }
    .main-block {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    h2 {
        margin-top: 0;
    }
    .sec-block .sec-area,
    .pre-footer .sec-area {
        margin-top: 0;
    }
    body .block {
        height: auto;
        min-height: 0;
        padding-bottom: 40px;
    }
    .top-flex{
        justify-content: center;
    }
}
.ft-copy {
    text-align: center;
}
.some-row {
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}
.offset-lg-1{
    margin-left: 8.333333% !important;
}
.mobile-menu-right.active-mobile-menu-right {
    overflow: hidden;
    transition: .5s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    right: 0;
    z-index: 40;
    height: 120px;
}.mobile-menu-right a,
 .mobile-menu-right p {
     font-size: 16px;
     color: #fff;
     display: block;
 }
.mobile-menu-right {
    position: fixed;
    top: 90px;
    bottom: 0;
    overflow: auto;
    width: 200px;
    height: 5rem;
    transition: .5s all;
    right: -200px;
    background: #4996ca;
}
.drawer-list li a {
    font-size: 16px;
    color: #fff!important;
}
.menu-right-active .triangle-tooltip{
    transition: .5s all;
    right: 20px;
}
@media(max-width: 991px){
    #form3
    .row
    div{
        margin: 10px 0;
    }
}
.ft-copy{
    margin: 0 auto;
}
.ft-socs{
    margin: 0 auto
}
.whatsapp { background:url(/images/whatsapp.png) center center no-repeat; background-size: 100%; width: 50px; height: 50px; position: fixed; bottom: 10px; right: 10px;
    z-index: 999; }
.whatsapp a { display: block; width: 100%; height: 100%;
    position: relative;
    z-index: 999; }
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #44bb6e;width:80px;height:80px;bottom:-15px;left:-15px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#44bb6e;width:50px;height:50px;bottom:-2px;left:-2px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
.pre-footer .col-lg-5{
    padding-left: 15px;
  }

  @media(max-width: 768px) {
      .offset-mg-medium{
        /* margin-left: 8.333333%; */
      }

      .offset-mg-medium-textarea{
        /* margin-left: 8.333333%; */
        width: 100%!important;
      }
      .dfs-position{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .md-wd{
          width: 50%!important;
      }
  }

  @media(max-width: 414px) {
    .md-wd{
          width: 100%!important;
      }
  }
