/* @font-face {

} */

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    position: relative;
    width: auto;
    margin: 1.75rem auto;
    pointer-events: none;
}

@media (min-width: 576px) {


    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

.main_setting {
    padding-top: 43px;
}

.range {
    width: 100%;
    height: 9px;

    border-radius: 23px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.previous_arrow {
    min-width: 46px;
    height: 46px;
    margin-left: 23px;
    margin-right: 23px;
    /* background: #F0F0F0; */
    /* border-radius: 65px; */
    border: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    background: transparent;
}

.test_block.active {
    display: block;
}

.test_block {
    display: none;
    padding: 0 !important;
}

.close {
    font-size: 3rem;
}

.next_button {
    /* background: linear-gradient(90deg, #456FFF -15.22%, #003AFF 150%), #3A66FF; */
    /* background: #F0F0F0; */
    /* box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53); */
    background: #4D9CD0;
    /* border-radius: 65px; */
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 12px; */
    /* line-height: 14px; */
    border: none;
    padding: 16px 40px;
    align-items: center;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s all;
    outline: none;
    /* color: #FFFFFF; */
    /* color: #000; */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer !important;
}

.next_button:hover {
    box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53);
}

.modal-content {
    border-radius: 12px 12px 0px 0px;
}

.choose_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.modal-dialog {
    max-width: 800px;
    border-radius: 10px;
}

.choose_button.active {
    /* background: #4670FF; */
    /* box-shadow: 3px 6px 17px rgba(59, 103, 255, 0.4); */
    /* border-radius: 11px; */
    /* color: #fff; */
    border: 1px solid #4D9CD0;
    outline: none;
    transition: 0.5s all;
    position: relative;
}

.choose_button.active::before {
    content: '';
    position: absolute;
    background: url(/img/check-icon.svg);
    width: 24px;
    height: 24px;
    top: 20px;
    right: 12px;
}

.choose_button.active:hover {
    /* background: #4168ec; */
}

.choose_content button {
    outline: none;
    padding: 20px 40px 20px 15px;
    background: #F0F0F0;
    /* border-radius: 11px; */
    width: 100%;
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 16px; */
    /* line-height: 19px; */
    transition: 0.5s all;
    text-align: left;
    /* color: #2E2E2E; */
    /* border-radius: 11px; */
    border-width: 0px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: 0 1 49%;
}

.choose_content button:hover {
    background: #ddd;
}

.modal-header {
    /* background: linear-gradient(0deg, #F0F0F0, #F0F0F0), #3A66FF; */
    /* border-radius: 12px 12px 0px 0px; */
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: bold; */
    /* font-size: 12px; */
    /* line-height: 14px; */
    /* display: flex; */
    /* align-items: center; */
    /* text-transform: uppercase; */
    background: #4D9CD0;
    color: #535353;
    padding: 10px 40px 10px 105px;
}

.modal-subtitle-window {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    width: 492px;
}

.horizontal-position-modal-item {
    display: flex;
}

.btn-price {
    background: linear-gradient(90deg, #456FFF 47.76%, #003AFF 101.35%), #3A66FF;
    box-shadow: 7px 7px 20px rgba(44, 92, 255, 0.53);
    border-radius: 65px;
    position: fixed;
    border: none;
    right: 100px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    bottom: 15px;
    outline: none;

}

.modal-body h3 {
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 14px; */
    /* line-height: 17px; */
    /* identical to box height */
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    padding: 15px 30px;
}

.modal-title {
    font-size: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal-title::before {
    content: "";
    position: absolute;
    left: -85px;
    top: 0;
    background: url(/img/google-forms.svg);
    width: 65px;
    height: 65px;
}

.test_block h3 {
    font-size: 20px;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
}

.close {
    border: none;
    margin-left: auto;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade {
    transition: opacity .15s linear;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.header_logo img {
    max-height: 50px !important;
}

.hidden-menu {
    display: none;
}

.top-menu .hidden-menu.dropdown-hidden {
    display: block !important;
}

.header_slider_text_white,
.header_slider_text_blue {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#packeman {
    width: 700px !important;
}

.answer-input {
    outline: none;
    padding: 20px 20px;
    background: #F0F0F0;
    /* border-radius: 11px; */
    width: 100%;
    /* font-family: SF Pro Display; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 16px; */
    /* line-height: 19px; */
    transition: 0.5s all;
    text-align: left;
    /* color: #2E2E2E; */
    /* border-radius: 11px; */
    border-width: 0px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: inherit;
    box-shadow: none;
    min-height: 77px;
}

.answer-input:focus::placeholder {
    color: transparent;
}

.style-form-width {
    width: 49%;
}

@media(max-width: 1024px) {
    .block-phones {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
}

@media(max-width: 768px) {
    .block-phones {
        display: flex;
        flex-direction: column;
        width: auto;
              align-items: flex-end;
              padding-right: 2rem;
    }
}

@media(max-width: 414px) {
    .choose_content {
        flex-direction: column;
        justify-content: normal;
    }

    .style-form-width {
        width: 100%;
    }

    .modal-subtitle-window {
        width: 100%;
    }

    #packeman {
        width: 100% !important;
    }

    .block-phones {
        display: none;
    }
}

.overflow-hidden{
    background: #F1F2F2;
}
.content_menu{
    display: flex;
    margin-top: 150px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.content_menu h5{
    margin-right: 45px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
	 letter-spacing: 0.02em;
	 text-decoration: none;


}
.logo_image_part{
    height: 169px;

}
.text_of_work{
    padding-top: 11px;
    width: 100%;
    padding-bottom: 11px;
    align-items: center;
    padding-right: 37px;

    padding-left: 44px;
}
.text_of_work .title{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 42px;
    color: #6A7280;
}
.content_works .card{
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.12);
    border: none;
}
.properties .property{
    width: 38px;
    height: 17px;
    background: #F9F9F9;
    border-radius: 11px;
    margin-left: 9px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
}

.content_menu h5 a{
	 color: #8A8A8A;
	 text-decoration: none;
}
.content_menu span{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000000;
    margin-right: 30px;

}
.logo_image_part{
    display: flex;
    background-size: cover;
    background-position: right center;
}
.logo_image_part .back{

}
.content_works .col-lg-6{
    margin-bottom: 30px;
}
.text_of_work{
    display: flex;
    justify-content: space-between;
}
.properties{
    display: flex;
}
.logo_image_part>div{
    padding-left: 44px;
    width: 100%;
}

.logo_text_props{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_text_props .logo_main{

}
.logo_text_props .properties .property{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300 !important;
    font-size: 10px !important;
}
.logo_text_props{
    padding-top: 34px;
    padding-left: 44px;
    padding-right: 37px;

}
.year{
    margin-left: auto;
    margin-right: auto;
}
.next_project:hover, .prev_project:hover{
    cursor: pointer;
}
.main_background{
    background-size: cover;
}
.arrow:hover{
    cursor: pointer;
}
.main_title h1{
    padding-left: 44px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;


}
.main_title span{
    color: #B8B8B8;
}

.main_background{
    height: 169px;
    width: 100%;
    margin-bottom: 54px;
}
.sub_info{
    padding-left: 44px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #6A7280;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 37px;
}
.link_to_page button{
    width: 167px;
    height: 38px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #606E85;
    background: #EDEDED;
    border-radius: 37px;
    border: none;
}
.main_info{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    padding-left: 44px;
    width: 50%;
    color: #6A7280;
}

.site_image_container{
    margin: 57px 37px 58px 44px;

}
.site_image_container img{
    width: 100%;

}

.images_section{
    margin-left: 44px;

}
.images_section h5{
    font-family: "SF Pro Display";
    font-style: normal;

    font-weight: 800;
    font-size: 86px;
    line-height: 83.84%;
    /* or 72px */
    width: 447px;
    height: 144px;
    margin-left: 0 !important;
    text-align: right;
    position: absolute;
    margin-bottom: 10px !important;

    left: -90px;
    color: #ECECEC;

    transform: rotate(-90deg);
}
.images_section div:nth-child(2){
    margin-left: 160px;
}
.images_section{
    display: flex;
}
.images_section .mobile_case{
    margin-right: 30px;
}
.client_review{
    margin-left: 44px;

}
.client_review h3{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    /* identical to box height */


    color: #B8B8B8;

}
.client_review h3 a{

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #B8B8B8;
}

.sign{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 66px;
    /* identical to box height */
    margin-right: 26px;

    color: #B8B8B8;
}
.short_review{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;

    color: #6A7280;

}
.main_review_part{
    display: flex;
    width: 794px;
    margin-bottom: 116px;
}

.navigation_part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    margin-left: 44px;
    margin-right: 37px;

}
.navigation_part{
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.07em;

    color: #4B4B4B;
}
.content_works{
    margin-bottom: 50px;
}
.next_project img{
    transform: rotate(180deg);
}

.main_project{
    background-color:#fff !important;
}
.navigation_part .prev_project img{
    margin-right: 7px;
}
.navigation_part .next_project img{
    margin-left: 7px;
}

.go_to_page{
    width: 38px;
    height: 38px;

    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(45, 56, 115, 0.23);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 37px;
    top: 66px;
    display: none;
}
.d-md-block{
    display: flex !important;
}
@media(max-width: 1024px) {
	.text_of_work .title{
		height: auto;
  }
}
@media (min-width: 721px) {
    .mobile_slider{
        display: none;
    }

}
@media (max-width: 720px) {
    .content_menu h5{
        margin-right: 10px;
        font-size: 14px;
    }
    .logo_text_props .logo_main{
        width: 50%;
    }
    .d-none{
        display: none !important;
    }
    .main_background{
        background-position: center;
    }
    .main_title h1{
        font-size: 30px;
        width: 100%;
    }
    .main_info{
        width: 100%;
        margin-top: 20px;
    }
    .mobile_case{
        display: flex;
        justify-content: center;
    }
    .main_info{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sub_info{
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_title h1{
        padding-left: 15px;
    }
    .short_review{
        font-size: 15px;
    }
    .logo_text_props{
        padding-left: 15px;
        padding-right: 15px;
    }
    .site_image_container{
        margin-left: 10px;
        margin-right: 10px;

    }
    .images_section{

    }
    .short_review{
        width: 100%;
        word-break: normal;
    }
    .main_review_part{
        width: 100%;
    }
    .images_section div{
        display: none;
    }
    .client_review{
        margin-left: 30px;
    }
    .short_review{
        padding-right: 40px;
    }
    .navigation_part{
        font-size: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .images_section div:nth-child(2){
        margin-left: 130px;
        display: block;
    }
    .images_section  h5{
        left: -115px;
    }
}
@media (max-width: 414px) {
	.content_menu{
		padding: 0;
  }
  .prev_project {
	display: flex;
	align-items: center;
  }
  .next_project{
	display: flex;
	align-items: center;
  }
}
@media(max-width: 360px) {
	.prev_project {
		flex-direction: column;
  }
	.prev_project p:nth-child(1){
		order: 2;
		padding: 0;
		margin: 0;
	}
	.prev_project p:nth-child(2){
		order: 1;
		padding: 0;
  	  	margin: 0;
	}
	.next_project{
		display: flex;
		align-items: center;
		flex-direction: column;
	  }

		.next_project p:nth-child(1){
			padding: 0;
			margin: 0;
		}
		.next_project p:nth-child(2){
			padding: 0;
			margin: 0;
		}
}
@media(max-width: 320px) {
	.content_menu span{
		margin-right: 16px;
	  }
}
@media(max-width: 577px) {
    .main_title h1 {
        font-size: 15px;
        line-height: 23px;
    }
    .link_to_page button {
        width: 132px;
    }
    .main_info {
        font-size: 15px;
    }
    .prev_project {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 16px;
    }
    .next_project {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 16px;
    }
    .owl-carousel.owl-drag .owl-item {
        max-height: 190px;
    }
}
.prev_project {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev_project p:nth-child(2) {
    margin-left: 10px;
}
.next_project {
    display: flex;
    justify-content: center;
    align-items: center;
}
.next_project p {
    margin-right: 10px;
}
